@import "@libs/ui/styles/includes";

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tc-white;
    font-family: $font-barlow;

    gap: $sp-2;

    border-radius: 100px;
    padding-bottom: 2px;

    background: rgb(130,234,207);
    background: linear-gradient(
        180deg,
        $turq-50 0%,
        $turq-50 45%,
        $turq-100 50%,
        $turq-100 67%,
        $turq-120 70%,
        $turq-140 80%,
        $turq-180 90%
    );
    background-size: 100% 3000px;
    background-position: 0 0;

    &:global(.dark) {
        color: $black-100;
    }

    strong {
        font-size: 26px;
        font-weight: $font-weight-medium;
        line-height: $sp-8;
    }
}
