@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-6;

    > h3 {
        margin-bottom: $sp-4;
    }

    .tracksWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .track {
            padding: 4px 10px;
            border: 2px solid #137d60;
            border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-right: $sp-4;
            margin-bottom: $sp-2;

            &:last-child {
                margin-right: 0;
            }

            @include ltelg {
                padding: 2px 10px;
            }
        }
    }
}