.container {
  min-height: 100%;
}

.blockContent {
  margin-bottom: 40px;
}

.ProgressBar {
  margin-top: auto;
  margin-bottom: 32px;
  width: 100%;
}

.blockSkilTags {
  gap: 10px;
}

.validationError {
  color: #EA1900;
  font-size: small;
}