@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .infoText {
        margin-bottom: $sp-3;
        font-size: 14px;
        font-weight: $font-weight-bold;
    }

    .tip {
        font-size: 14px;
    }
}
