@import '@libs/ui/styles/includes';

.container {
    margin-top: $sp-8;
    .title {
        display: flex;
        align-items: center;
        gap: $sp-2;
    }
}

.email {
    display: flex;
    align-items: center;
    margin-top: $sp-2;
    .emailIcon {
        width: 20px;
        height: 20px;
        margin-right: $sp-2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.emailText {
    font-family: $font-roboto;
    font-size: 16px;
    line-height: 24px;
    color: $black-100;
    font-weight: $font-weight-normal;
}

.phonesContent {
    display: flex;
    flex-direction: column;
}

