@import '@libs/ui/styles/includes';

.wrap {
    border: 1px solid $black-20;
    border-radius: $sp-2;
    padding: $sp-2;
    padding-left: $sp-4;

    gap: $sp-3;
    display: grid;
    grid-template-columns: 1fr 20px;
}

.contentWrap {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.icon {
    display: flex;
    align-items: center;
    width: 20px;
}

.title {
    margin-bottom: $sp-2;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}


.statsWrap {
    display: flex;
    align-items: center;
    gap: $sp-4 $sp-2;
    flex-wrap: wrap;
}

.statsItem {
    display: flex;
    align-items: baseline;
    gap: 2px;

    &Value {
        color: $turq-160;
        font-family: $font-barlow-condensed;
        font-weight: $font-weight-medium;
        font-size: 26px;
        line-height: 34px;
    }

    &Label {
        color: $black-80;
        text-transform: capitalize;
        font-family: $font-barlow-condensed;
        font-weight: $font-weight-semibold;
        font-size: 14px;
        line-height: 22px;
    }

    &Icon {
        display: none;
        &.placement-1,
        &.placement-2,
        &.placement-3,
        &.placement-4 {
            display: block;
        }

        &.placement-1 path {
            fill: $gold-1;
        }
        &.placement-2 path {
            fill: $silver-1;
        }
        &.placement-3 path {
            fill: $bronze-1;
        }
        &.placement-4 path {
            fill: $turq-50;
        }
    }
}
