@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: $space-xxxxl;
    gap: $space-xxxxl;

    @include ltemd {
        flex-direction: column;
        align-items: center;
        margin-top: $space-xxl;
    }

    .communityTitle {
        background: $tc-grad15;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .apiTitle {
        background: $tc-grad14;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text; 
    }
    
    .comingSoon {
        color: $blue-140;
    }

    .button {
        width: 125px;
    }
}

