@import "@libs/ui/styles/includes";

.container {
    display: flex;
    flex-direction: column;

    .content {
        .contentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $black-10;
            margin: $sp-4 0;
            padding-bottom: $sp-2;

            .contentHeaderActions {
                button {
                    margin-right: $sp-2;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .contentBody {
            height: 385px;
            overflow: auto;

            @include ltelg {
                height: auto;
            }
        }
    }
}