@import "@libs/ui/styles/includes";

.wrap {
    width: 100%;
}

.highlightWrap {

    display: flex;
    align-items: center;
    gap: $sp-4;
    padding: $sp-6;

    border-radius: $sp-2;
    border: 2px solid $turq-100;
    background: $turq-15;

    color: #073D2E;

    @include ltemd {
        flex-direction: column;
        padding: $sp-4 $sp-2;
    }
}

.matchPerc {
    width: 128px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: $turq-75;
    color: #073D2E;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    strong {
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
    }

    span {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
    }
}

.infoWrap {
    display: flex;
    flex-direction: column;
    gap: $sp-1;
    @include ltemd {
        gap: $sp-2;
    }
}

.skillsList {
    display: flex;
    align-items: center;
    gap: $sp-2;

    flex-wrap: wrap;
    @include ltemd {
        gap: $sp-1;
    }
}

.missingSkills {
    margin-top: $sp-1;
    > span:last-child {
        color: $turq-180;
        margin-left: $sp-1;
    }
}

.additionalSkills {
    margin-top: $sp-6;

    .skillsList {
        margin-top: $sp-6;
    }

    @include ltemd {
        .skillsList {
            margin-top: $sp-3;
        }
    }
}
