@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.loadingSpinnerContainer {
    position: relative;
    height: 100px;

    .spinner {
        background: none;
    }
}

.noRecordFound {
    padding: 16px 16px 32px;
    text-align: center;
}

.actions {
    display: flex;
    align-items: flex-end;
    gap: $sp-4;
    margin: $sp-8 $sp-8 $sp-4;

    @include ltelg {
        flex-direction: column;
        align-items: stretch;
        margin: $sp-4;
        gap: $sp-3;
    }
}

.searchField {
    flex: 1;
}

.btnNewGroup {
    margin: 0;
    min-width: max-content;

    @include ltelg {
        width: 100%;
    }
}
