@import '../../../../lib/styles/includes';

.wrap {
    display: flex;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    @include ltemd {
        border: 2px dashed $blue-25;
        border-radius: $space-sm;
    }

    > svg {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        display: block;
        z-index: -1;
        transform: translateY(-50%);
        @include ltemd {
            display: none;
        }
    }
}

.details {
    width: 55%;
    padding: calc($space-mx + $space-lg);
    display: flex;
    flex-direction: column;
    flex: 1;

    @include ltemd {
        flex-direction: row;
    }
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    >svg {
        width: 120px;
        height: 120px;
    }

}

.logos {
    display: flex;

    &Divider {
        width: 2px;
        height: 40px;
        background-color: $tc-white;
        opacity: 0.3;
        margin: 0 $space-lg;
    }
}

.contentWrap {
    max-width: 528px;
    margin-top: $space-mx;

    @include ltemd {
        display: flex;
        flex-direction: column;
        > *:last-child {
            margin-top: auto;
        }
    }

    h2 {
        color: $blue-25;
    }

    h3 {
        font-size: 48px;
        line-height: 50px;
        font-weight: 500;
        color: $tc-white;
        margin-top: $space-sm;
    }
}

.mobileBadge {
    margin: auto;
    margin-right: 0;
    width: 30%;
    height: auto;
    @include gtelg {
        display: none;
    }
}
