@import "@libs/ui/styles/includes";

.pill {
    cursor: pointer;
    border-radius: 40px;
    color: $tc-white;
    border: 1px solid $tc-white;
    padding: 8px 14px 8px 14px;
    text-align: center;

    &:hover {
        background-color: rgba($tc-white, 0.1);
    }

    &.selected{
        background-color: rgba($tc-white, 0.3);
    }
}

