@import '@libs/ui/styles/includes';

.verified {
    display: inline-flex;

    svg {
        margin: 0 $sp-2;
        color: $turq-120;
    }
}

.container {
    strong {
        font-weight: bold;
    }
}

.mb1 {
    margin-bottom: $sp-2;
}
