@import "../../../styles/include";

.page-p {
  font-size: 16px;
  line-height: 26px;
  color: #333;
  margin: 10px 0;
}

.bold {
  font-weight: 800;
}

.title {
  font-weight: 600;
  color: $grey-text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.description {
  @include font-roboto;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  color: $grey-text;
}

.label {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  @include mobile {
    font-size: 16px;
  }
}