@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.wrap {
    background: $black-5;
    border-radius: $space-sm;

    padding: $space-xxxxl;
    gap: $space-xxxxl;
    display: flex;
    flex-direction: column;
    @include ltemd {
        padding: $space-lg;
        gap: $space-sm;
    }
}

.text-content {
    > *:not(:first-child) {
        margin-top: $space-sm;
    }

    h4 {
        color: $blue-140;
    }
}

.course-path-steps {
    margin-top: $space-sm;
    svg {
        width: 100%;
        display: block;
        &:nth-child(2) {
            height: 100px;
        }
    }

    @include ltemd {
        display: flex;
        flex-direction: column;
        gap: $space-lg;
        align-items: stretch;
    }
}