@import "../../../../../../../lib/styles/variables";
@import "../../../../../../../lib/styles/includes";

.memberAwardedAt {
  font-size: 16px;
  font-weight: $font-weight-normal;
  text-align: left;

  @include ltemd {
    font-size: 14px;
  }
}