@import "@libs/ui/styles/includes";

.wrap {
    background: $black-10;
    border-radius: $sp-4;
    flex: 1 1;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    gap: $sp-8;
    padding: $sp-15 $sp-11;

    &:global(.m-lg) {
        padding: $sp-15 2*$sp-15;
    }

}
