@import '@libs/ui/styles/includes';

.wrap {

}

.runsWrap {
    > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            margin-top: $sp-1;
            &:first-child {
                margin-top: 0;
            }

            > a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }
    }
}

.runEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $sp-4;
    background-color: #f9fafa;
    cursor: pointer;

    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;

    &.active {
        background-color: #E9ECEF;
        .workflowName{
            font-weight: bold;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: $teal-160;
        }
    }

    &:hover {
        background-color: lighten(#E9ECEF, 2.5%);
    }

    &:active:hover {
        background-color: darken(#E9ECEF, 5%);
    }

    > span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $sp-2;
    }
}

.workflowName {
    max-width: 139px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.legend {
    background-color: #f9fafa;
    padding: $sp-4;
    margin-top: $sp-4;


    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #0A0A0A;

    &Label {
        font-weight: bold;
    }

    ul {
        padding: 0;
        margin: $sp-2 0 0;
        list-style: none;

        li {
            margin-top: $sp-1;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
