@import "styles/variables";
@import "styles/mixins";

.challenge-item {
  display: flex;
  padding: 16px 0 16px 16px;
  border-top: 1px solid #E9E9E9;

  &:last-child {
    border-bottom: 1px solid #E9E9E9;
  }

  @include down($mfe-screen-sm) {
    .info {
      .name-container {
        padding-right: 60px;
      }

      .tags {
        max-width: none;
        min-width: 0;
        max-width: 100%;
      }

      .nums {
        width: 0;
        flex: none;

        > * {
          &:first-child {
            margin-left: 0;
            display: inline-block;
            width: 64px;
          }
        }
      }
    }

    .prize {
      align-self: flex-start;
      padding-top: 5px;
    }
  }

  @include down($mfe-screen-xs) {
    position: relative;
    flex-wrap: wrap;
    padding: 20px 0 20px 68px;

    .track {
      position: absolute;
      left: 15px;
      top: 20px;
    }

    .info {
      width: 100%;

      .name-container {
        padding-right: 20px;

        .name {
          line-height: 20px;
        }
      }

      .tags {
        max-width: none;
        min-width: 0;
      }

      .name-container,
      .tags {
        margin-bottom: 10px;
      }

      .nums {
        display: none;
      }
    }
  }
}

.track {
  flex: 0 0 54px;

  > div {
    vertical-align: top;
  }
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;

  .name-container {
    flex: 1 1 100%;
    margin-bottom: 18px;

    .name {
      font-weight: bold;
      font-size: inherit;
      line-height: 26px;
    }
  }

  .tags {
    max-width: calc(50% - 84px);
    min-width: calc(50% - 84px);
    flex: 1 1 auto;

    @media (min-width: ($screen-xxl + 1px)) {
      min-width: 294px;
      max-width: 25%;
    }
  }

  .nums {
    flex: 0 0 104px;
    white-space: nowrap;

    > * {

      &:first-child {
        margin-left: 0;
        display: inline-block;
        width: 84px;
      }
    }
  }
}

.prize {
  flex: 0 0 120px;
  display: flex;
  align-items: center;
}
