@import '../../../../../lib/styles/includes';

.slides-wrap {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    &:global(:not(.active)) {
        pointer-events: none;
    }


    &:global(.is-prev) {
        transform: translateX(-100%);
    }

    &:global(.is-next) {
        transform: translateX(100%);
    }

    &:global(.active) {
        position: relative;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $space-xxl;

    gap: calc($space-xs + $border-xs);
}

.nav-dot {
    display: block;
    width: $space-md;
    height: $space-md;
    background: $black-40;
    border-radius: 50%;
    cursor: pointer;

    &:global(.active) {
        width: calc($space-lg + $border);
        height: calc($space-lg + $border);
        border: $border solid $turq-100;
        background: $tc-white;
    }
}
