@import "../../../lib//styles/includes";

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1 1;

  .contentContainer {
    p {
      padding: $space-xxl;
    }
  }
}
