@import "@libs/ui/styles/variables";
@import "@libs/ui/styles/includes";
@import "@libs/ui/styles/typography";
$error-line-height: 14px;

$badgePreview: 130px;
$badgePreviewImage: 72px;

.container {
    display: flex;
    flex-direction: column;

    .error {
        background-color: $black-5;
        color: red;
        padding: $sp-2;
    }

    .badge {
        display: flex;
        margin-top: $sp-8;

        @include ltemd {
            flex-direction: column;
        }

        .badgeImage {
            position: relative;
            border-radius: $sp-2;
            background-color: $black-5;
            margin-right: $sp-8;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $badgePreview;
            height: $badgePreview;
            min-width: $badgePreview;
            min-height: $badgePreview;

            @include ltemd {
                margin-right: 0;
                margin-bottom: $sp-6;
                width: 100%;
            }

            img {
                width: $badgePreviewImage;
                height: $badgePreviewImage;
            }

            .filePickerPencil {
                position: absolute;
                top: 0;
                right: 0;
                color: $turq-160;
            }

            .filePickerInput {
                display: none;
            }
        }

        .badgeDetails {
            display: flex;
            flex-direction: column;
            flex: 1;

            .badgeName {
                font-family: $font-roboto;
                font-weight: $font-weight-bold;
                padding: $sp-2;
                font-size: 24px;
                line-height: 32px;

                @include ltemd {
                    font-size: 20px;
                    line-height: 28px;
                }

                &:hover {
                    background-color: $black-5;
                    cursor: text;
                }

                &:focus {
                    background-color: $tc-white;
                    outline-color: $turq-160;
                }
            }

            .error {
                display: flex;
                align-items: center;
                color: $red-100;
                // extend body ultra small and override it
                @extend .ultra-small;
                line-height: $error-line-height;
                margin-top: $sp-1;
            
                svg {
                    @include icon-md;
                    fill: $red-100;
                    margin-right: $sp-1;
                }
            }

            .badgeDesc {
                margin-top: $sp-2;

                .badgeEditWrap {
                    display: flex;
                    flex-direction: column;

                    .badgeEditable,
                    .badgeEditableMode {
                        padding: $sp-2;
                        border-radius: 3px;
                        border: 2px solid $tc-white;

                        &:hover {
                            background-color: $black-5;
                            cursor: text;
                        }

                        &:focus {
                            background-color: $tc-white;
                            outline: none;
                        }

                        a {
                            color: $link-blue-dark;
                        }
                    }

                    .badgeEditableMode {
                        border: 2px solid $turq-160;
                    }

                    .badgeEditActions {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: $sp-2;

                        button:first-child {
                            margin-right: $sp-2;
                        }
                    }
                }
            }
        }
    }

    .activeTabElement {
        margin-top: $sp-8;

        @include ltemd {
            margin-top: $sp-3;
        }
    }
}