@import "../../styles/mixins";

div.page {
  display: block;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: auto;

    @include tablet {
      width: var(--sideBarWidth, 270px);
      min-height: calc(100vh - var(--navbarHeight, 60px));
    }
  }
}

.feedbackBtn {
  color: #fff;
  background-color: #137D60;

  &:hover {
    color: #fff;
  }
}
