@import '../../../../lib/styles/includes';

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: $space-sm;

    >div {
        margin-right: $space-sm;
        margin-bottom: $space-sm;

        &:last-child {
            margin-right: 0;
        }
    }
}

.infoText {
    font-style: italic;
    color: $black-60;
    margin-right: $space-sm;

    &:last-child {
        margin-right: 0;
    }
}
