@import '@libs/ui/styles/includes';

.text-section {
    margin-top: $space-xxl;

    > h2 {
        margin-bottom: $space-xxl;
    }

    > ul {
        list-style: disc;
        padding-left: $space-xxl;
        padding-left: $space-xxl;
    }

    &.no-top {
        margin-top: 0;
    }
}
