@import '@libs/ui/styles/includes';

.wrap {
    column-count: 4;
}

.listWrap {
    display: flex;
    flex-direction: column;
}

.skillItem {
    padding: $sp-2 $sp-2;
    display: flex;
    align-items: center;
    gap: $sp-2;

    .isEditMode & {
        cursor: pointer;
    }
}
