@import '@talentSearch/styles/variables';

.contentLayout {
  width: 100%;
  padding-top: 30px;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
 
  .contentLayout-outer {
    width: 100%;

    .contentLayout-inner {
      width: 100%;
      padding: 86px 48px 48px 48px;
      overflow: visible;
    }
  }
}

.popularSkillsContainer{
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pillRow{
  margin-top: 20px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.popularSkillsTitle{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.searchHeader{
  text-align: center;
}

.searchHeaderText{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: white;
}

.subHeader{
  padding-top: 49px;
  text-align: center;
}

.subHeaderText{
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: white;

}
.searchPrompt{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  color: white;
}

.searchOptions{
  margin-left: auto;
  margin-right: auto;
  padding: 70px 32px 32px 32px;
  max-width: 931px;
  width: 100%;
}

.searchIconSpan{
  cursor: pointer;
}

.searchIcon{
  width: 24px;
  height: 24px;
  color: #aaaaaa;
  stroke: #aaaaaa;
  margin-right: 24px;
}
