@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.headerActions {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-top: $sp-2;
}

.blockTableContainer {
    position: relative;
}

.loadingSpinnerContainer {
    position: relative;
    height: 100px;

    .spinner {
        background: none;
    }
}

.blockActionLoading {
    position: absolute;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 64px;
    left: $sp-8;

    .spinner {
        background: none;
    }

    @include ltelg {
        left: $sp-4;
    }
}
