@import '@libs/ui/styles/includes';

.diceModal {
    :global(.modal-body) {
        align-items: flex-start;
    }

    :global(.react-responsive-modal-closeButton) {
        display: flex;
    }

    .appSoresWrap {
        display: flex;
        justify-content: space-evenly;
        margin: $sp-4 0;
        width: 100%;

        .appStoreCard {
            display: flex;
            flex-direction: column;
        }
    }

    .qrCode {
        margin: auto;
    }

    .ctaButtons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }
}