@import '@libs/ui/styles/includes';
@import '@earn/styles/mixins';

.recommended-challenge-tooltip {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 5px;
}

.verified-tag {
  position: absolute;
  left: $sp-1;
}

.verified-tag-text {
  margin-left: 15px;
}
