@import '../../../../lib/styles/includes';

.icon {
    &:global(.beginner),
    &:global(.intermediate),
    &:global(.expert) {
        > path:first-child {
            fill: $blue-140;
        }
    }

    &:global(.intermediate),
    &:global(.expert) {
        > path:nth-child(2) {
            fill: $blue-140;
        }
    }

    &:global(.expert) {
        > path:nth-child(3) {
            fill: $blue-140;
        }
    }

}
