@import '@libs/ui/styles/includes';

.educationCard {
    margin-bottom: $sp-4;
    flex: 1;

    .educationCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
