@import '@libs/ui/styles/includes';

.container {
    background-color: $black-5;
    padding: $sp-6;
    margin: $sp-8 0;
    border-radius: 6px;

    @include ltelg {
        padding: $sp-4;
    }
}
