@import '@libs/ui/styles/includes';
@import "../../styles/mixins";
@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label {
  margin: 0 7px;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.pageSize {
  flex: 0 0 auto;
  width: 80px;
}

.pageButtons {
  position: relative;
  display: flex;
  align-items: center;
  gap: $sp-1;
  margin-left: auto;
  padding-left: 20px;

  @include desktop {
    padding-left: 40px;
  }
}
