@import "../../styles/mixins";
@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label {
  margin: 0 7px;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.pageSize {
  flex: 0 0 auto;
  width: 80px;
}

.pageButtons {
  position: relative;
  display: flex;
  margin-left: auto;
  padding-left: 20px;

  @include desktop {
    padding-left: 40px;
  }
}

.pageButton {
  flex: 0 0 auto;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.buttonPrev,
.buttonNext {
  display: flex;
  align-items: center;
}

.buttonPrev {
  flex: 0 0 auto;
}

.buttonNext {
  flex: 0 0 auto;
  margin-left: 10px;
}

.buttonLabel {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.iconArrowLeft,
.iconArrowRight {
  display: inline-block;
  width: 7px;
  height: 12px;
}

.iconArrowLeft {
  @include desktop {
    margin-right: 3px;
  }
}

.iconArrowRight {
  @include desktop {
    margin-left: 3px;
  }
}
