@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-8;

    .titleWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $sp-2;
    }

    .languages {
        > div {
            margin-bottom: $sp-2;
        }
    }
}
