@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    padding-left: $sp-13;
    padding-top: $sp-2;
    border-left: 2px solid $black-10;

    @include ltelg {
        border-left: none;
        border-top: 2px solid $black-10;
        padding-left: 0;
        padding-top: $sp-13;
        margin-top: $sp-2;
    }

    .memberSince {
        margin-bottom: $sp-4;
    }

    .wins {
        @include font-barlow-condensed;
        @include font-weight-medium;
        font-size: 48px;
        line-height: 50px;
        color: $teal-120;
        text-transform: uppercase;
        margin-top: $sp-2;
    }
}