@import "@libs/ui/styles/includes";

.container {
    .backLink {
        margin: $sp-6 0;
    }

    .badgesWrapper {
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: $sp-10;
        margin-bottom: $sp-10;

        @include ltelg {
            padding: $sp-6;
        }

        h3 {
            padding-bottom: $sp-6;
            border-bottom: 2px solid $black-10;
        }

        .badges {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            @include ltelg {
                grid-template-columns: repeat(2, 1fr);
            }

            .badgeCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                padding-top: $sp-8;

                .badgeImageWrap {
                    width: 100px;
                    height: 100px;

                    .badgeImage {
                        height: 100px;
                        margin: auto;
                    }
                }

                .badgeTitle {
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    line-height: 16px;
                    margin-top: $sp-4;
                    max-width: 130px;
                    text-align: center;
                }
            }
        }
    }
}
