@import '@libs/ui/styles/includes';

.hero-wrap {
    svg:global(.tca-logo) {
        margin-bottom: $sp-6;
        max-width: calc(100% - 70px);
    }

    :global(.hero-card-col) {
        width: 43.5%;
        max-width: 600px;

        @include ltemd {
            width: 100%;
            max-width: none;
        }
    }
}

.courses-section {
    padding: $sp-8 0;
    position: relative;

    @include ltemd {
        padding-top: $sp-6;
    }
}
