@import '@libs/ui/styles/includes';

.wrap {
}

.message {
    margin-bottom: 12px;
    color: var(--ui-text-secondary, #6b7280);
}

.list {
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.itemContent {
}

.itemTitle {
    display: block;
    color: $black-100;
    font-feature-settings: 'liga' off, 'clig' off;

    /* TC-Type/Desktop/Body/Body-Main-Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */

    margin-top: 8px;
}

.itemMeta {
    display: block;
    padding: 3px 4px;
    border-radius: 2px;

    font-feature-settings: 'liga' off, 'clig' off;

    /* TC-Type/Desktop/Subtitles/Label */
    font-family: "Nunito Sans", sans-serif;

    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px; /* 90.909% */

    background: $tc-white;
    color: #0A0A0A;
    border: 1px solid #a8a8a8;
    width: max-content;

    // &:global(.development) {
    //     color: #35AC35;
    //     background: #D8FDD8;
    // }
    // &:global(.qa), &:global(.quality_assurance) {
    //     color: $red-120;
    //     background: $red-25;
    // }
    // &:global(.design) {
    //     color: $blue-120;
    //     background: $blue-15;
    // }
    // &:global(.data_science) {
    //     background-color: #FFE3CF;
    //     color: #F46500;
    // }
}

.itemStats {
    display: flex;
    flex-wrap: wrap;
    color: $black-80;
    min-width: 220px;

    span {
        font-feature-settings: 'liga' off, 'clig' off;

        /* TC-Type/Desktop/Body/Body-Small */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */

        display: flex;
        align-items: center;
    }
}

.statSeparator::before {
    display: block;

    content: "";
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: url('data:image/svg+xml,<svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1.36035C0 0.963867 0.125326 0.638021 0.375977 0.382812C0.631185 0.127604 0.968424 0 1.3877 0C1.80241 0 2.13965 0.125326 2.39941 0.375977C2.65918 0.62207 2.78906 0.957031 2.78906 1.38086V1.63379C2.78906 2.03027 2.66374 2.35384 2.41309 2.60449C2.16243 2.85514 1.82292 2.98047 1.39453 2.98047C0.970703 2.98047 0.631185 2.85514 0.375977 2.60449C0.125326 2.34928 0 2.02116 0 1.62012V1.36035Z" fill="%23555555"/></svg>') center no-repeat;
    margin-left: 8px;
    margin-right: 8px;
}

.toRight {
    display: flex;
    align-items: center;
    gap: 60px;
}

@media (max-width: 900px) {
    .list .item {
        flex-direction: column;
        align-items: flex-start;
        gap: $sp-2;

        .toRight {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

        .action {
            :global(.btn-size-lg) {
                padding-left: 0;
            }
        }
    }
}
