@import '../../../../../lib/styles/includes';

.diceModal {

    p {
        margin-bottom: $space-lg;

        &.buttonContainer {
            display: flex;
            justify-content: center;
        }
    }
}
