@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-8;

    .achievementsWrap {
        display: flex;
        align-items: center;
        margin: $sp-4 0 $sp-2;

        .achievement {
            padding: $sp-8 $sp-4;
            text-align: center;
            border: 1px solid $black-10;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
        }
    }

    .rolesWrap {
        display: flex;
        align-items: center;
    }
}
