@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-8;

    .achievementsWrap {
        display: flex;
        align-items: center;
        margin: $sp-4 0 $sp-2;
    }

    .rolesWrap {
        display: flex;
        align-items: center;
    }
}
