@import "../../../styles/mixins";

.label {
  margin: 0 0 5px;
  font-weight: bold;
}

.referral-field {
  display: block;
}

input.link-input {
  margin: 0;
  border: 1px solid #7cc5e2 !important;
  border-radius: 2px;
  padding: 8px 15px;
  width: 100% !important;
  height: 40px;
  font-size: 14px;
  line-height: 22px;
  background-color: transparent;
  color: #fff;
  box-shadow: none !important;
  outline: none !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copy-button {
  flex: 0 0 auto;
  margin: 15px 10px 0 0;
}

.socialLinks {
  flex: 0 0 auto;
  margin: 15px 0 0;
}

.loadingIndicator {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

.hiddenInput {
  position: absolute;
  left: -999px;
  opacity: 0;
}

.error {
  margin: 0 0 15px;
  font-weight: bold;
}
