@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.loadingSpinnerContainer {
    position: relative;
    height: 100px;

    .spinner {
        background: none;
    }
}

.blockBottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-top: $sp-2;

    @include ltemd {
        flex-direction: column;
        align-items: flex-end;
    }
}
