@import '../../../lib/styles/includes';

:global(.account-settings-modal) {
    h2 {
        margin-bottom: $space-xxl;
        padding: 0 0 $space-xxl;
        border-bottom: 1px solid $black-10;
    }

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $space-xxl;
    margin: $space-xxl 0 0;

    @include ltemd {
        grid-template-columns: 1fr;
        row-gap: $space-xxl;
    }
}
