@import '@libs/ui/styles/includes';

.container {
    background-color: $black-5;
    padding: $sp-6;
    margin: $sp-8 0;
    border-radius: 6px;

    @include ltelg {
        padding: $sp-4;
    }

    .paymentsHeader {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;

        @include ltelg {
            flex-direction: column;
        }

        .managePaymentsLink {
            font-weight: $font-weight-bold;
            color: $turq-160;
            display: flex;
            align-items: center;

            @include ltelg {
                margin-top: $sp-4;
            }

            svg {
                margin-left: $sp-2;
                max-width: 100%;
            }
        }
    }

    .content {
        background-color: $tc-white;
        border-radius: 4px;
        margin-top: $sp-8;

        .confirmSelectionReset {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: $sp-8;

            @include ltelg {
                flex-direction: column;
                align-items: flex-start;

                button {
                    margin-top: $sp-4;
                }
            }
        }

        .providerContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: $sp-8;
            margin-bottom: $sp-4;

            .alternateProviderButton {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }

        .providersSingleRow {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }

        .providersStacked {
            display: grid;
            gap: $sp-4;
            grid-template-columns: repeat(1, 1fr);

            @media (min-width: '768px') {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto auto;
            }
        }

        .providerSubmitted {
            margin-top: $sp-8;

            @include ltelg {
                flex-direction: column;
            }

            .providerSubmittedIcon {
                background: linear-gradient(264.69deg, #198807 2.17%, #017c6d 97.49%);
                padding: $sp-4;
                border-radius: 4px;
                width: 64px;
                height: 64px;
                color: $tc-white;
                margin-right: $sp-4;

                @include ltelg {
                    margin-bottom: $sp-4;
                }
            }

            button {
                align-self: center;

                @include ltelg {
                    align-self: flex-start;
                    margin-top: $sp-4;
                }
            }
        }
    }
}
