@import '@libs/ui/styles/includes';

$gradient: linear-gradient(
  to top right,  // This approximates the diagonal direction
  #086093,  // Start color
  #028367   // End color
);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient; 
    padding: 20px;
}

.form {
    background: white;  
    padding: 30px;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    width: 100%;
    max-width: 1000px;  
    box-sizing: border-box;

    .heading {
        margin-bottom: 1rem;
    }

    .subheading {
        margin-bottom: 2rem;
    }

    .formRow {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .formRadioBtn {
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
    .formRadioBtn {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .formRadioBtn > *:nth-child(2),
    .formRadioBtn > *:nth-child(3) {
        grid-column: 2;
    }

    .formRadioBtn > *:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .formRadioBtn > *:nth-child(3) {
        grid-row: 2;
    }
}

    .complexity {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .skillsWrapper {
        border: 1px solid #aaaaaa;
        border-radius: 0.375rem;  
    }

    .skillsWrapper:hover {
            border-color: #137D60;
    }

    .skillsError {
        border: 2px solid $red-100;
        border-radius: 0.375rem; 
    }

    .error {
        font-size: 11px;
        display: flex;
        align-items: center;
        color: $red-100;

        svg {
            @include icon-md;
            fill: $red-100;
            margin-right: $sp-1;
        }
    }

    .datepicker input{
        color: black;
    }

    :global(.btn-style-secondary) {
        --btn-secondary-border-width: 2px;
    }
}