@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.pageContentWrap {
    display: flex;
    flex-direction: row;
    gap: $sp-10;

    > .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 256px;
    }

    @include ltelg {
        flex-direction: column;
        gap: $sp-6;

        > .sidebar {
            flex-basis: auto;
            width: 100%;
        }
    }
}

.contentWrap {
    width: 100%;
}

.tabs {
    justify-content: center;
    margin: $sp-6 0;
}
