@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.contentWrap {
    display: flex;
    flex-direction: row;
    gap: $sp-10;

    > .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 256px;
    }
}
