@import "@libs/ui/styles/includes";

.headerWrap {
    height: 156px;
}

.headerContentLayout {
    height: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;

    &Inner {
        padding: 0 $sp-8;
    }
}

.summaryText {
    margin: $sp-4 0 $sp-5;
    text-align: center;
    color: $black-60;
    > span {
        color: $black-100;
    }
}

.searchInput {
    margin-top: $sp-10;
}

.contentLayout {
    background: $black-5;
    padding: $sp-2;
    position: relative;
    z-index: 1;

    .contentLayout-inner {
        padding-bottom: $sp-12;
    }
}

.resultsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $sp-9;
}

.moreBtn {
    margin-top: $sp-8;
    display: flex;
    justify-content: center;
}
