@import '@libs/ui/styles/includes';

.pageContentWrap {
    color: #0A0A0A;
    font-family: Inter;

    hr {
        margin: $sp-6 0;
    }
}

.pageTitle {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: #0A0A0A;
    margin-bottom: $sp-8;
    text-transform: none;
}

.sectionTitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: $sp-5;
    margin-top: $sp-11;
    text-transform: none;
    &:first-child {
        margin-top: $sp-8;
    }

}

.grayWrapper {
  background-color: #F6F7F9;
  border-radius: $sp-2;
  padding: $sp-8;
  @include ltemd {
    padding: $sp-3;
  }
}

.scorecardInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $sp-3 $sp-16;
}

.headerArea {
    border-radius: $sp-2 $sp-2 0 0;
    padding: $sp-3 $sp-4 $sp-6;

    display: flex;
    flex-wrap: wrap;
    gap: $sp-2 $sp-4;

    &Label {
        width: 100%;
    }

    &Inputs {
        display: flex;
        gap: $sp-4;
        width: 100%;
        @include ltemd {
            flex-wrap: wrap;
            position: relative;

            .trashIcon {
                position: absolute;
                bottom: 100%;
                right: 0;
                flex: 0 0 100%;
            }
        }
    }
}

.contentArea {
    padding: $sp-5 $sp-4;
    @include ltemd {
        padding: $sp-3;
    }
}

.groupWrap {
    .headerArea {
        background: #0F172A;
        color: $tc-white;

        :global(.input-error) {
            font-family: "Nunito Sans", sans-serif;
            background: #E2CBC0;
            width: max-content;
            padding: 0 $sp-2;
            border-radius: 2px;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
        }
    }

    .contentArea {
        background: #E0E4E84D;
        padding: $sp-10 $sp-8;
        @include ltemd {
            padding: $sp-3;
        }
    }
}

.sectionWrap {
    .headerArea {
        background: $teal-160;
        color: $tc-white;

        :global(.input-error) {
            font-family: "Nunito Sans", sans-serif;
            background: #E2CBC0;
            width: max-content;
            max-width: 100%;
            padding: 0 $sp-2;
            border-radius: 2px;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
        }
    }

    .contentArea {
        background: $tc-white;
    }
}

.questionWrap {
    .questionItem {
        --pad-x: #{$sp-4};
        --pad-y: #{$sp-5};

        width: 100%;
        padding: var(--pad-y) var(--pad-x);
        background: #F6F7F9;

        display: grid;
        grid-template-columns: 1fr 7.85% 3.5%;
        gap: $sp-4;

        :global(.main-group) {
            grid-column: 1;
        }

        :global(.weight-group) {
            grid-column: 2;
        }

        :global(.action-group) {
            grid-column: 3;
        }

        + .questionItem {
            margin-top: $sp-4;
        }
    }

    .headerAreaLabel {
        width: 100%;
    }

    @include ltemd {
        .questionItem {
            --pad-x: #{$sp-3};
            --pad-y: #{$sp-3};
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: $sp-4;

            :global(.main-group) {
                grid-column: 1 / -1;
            }

            :global(.weight-group) {
                grid-column: 1 / -1;
            }

            :global(.action-group) {
                position: absolute;
                top: var(--pad-y);
                right: var(--pad-x);
                height: 28px;
            }

            .doubleInputWrap {
                display: flex;
                flex-direction: column;
                gap: $sp-4;

                > * {
                    flex: 1;
                }
            }
        }
    }
}

.xlWidthInput {
    flex: 0 1 86%;
}

.smWidthInput {
    flex: 0 0 7.85%;
    min-width: 88px;
}

.mdWidthInput {
    flex: 0 0 40%;
}

.xlWidthInput,
.smWidthInput,
.mdWidthInput {
    @include ltemd {
        flex: 0 0 100%;
    }
}


.doubleInputWrap {
    display: flex;
    gap: $sp-3;

    > * {
        flex: 1;
    }
}

.trashIcon {
    flex: 0 0 3.5%;
    width: 24px;
    height: 38px;
    padding: 2px;
    &.blue {
        color: #0D61BF;
    }
}

.footerArea {
    display: flex;
    gap: $sp-4;
    justify-content: space-between;
    align-items: center;
    margin-top: $sp-5;
    @include ltemd {
        flex-direction: column;
        align-items: center;
    }
}

.bottomContainer {
    margin-top: $sp-8;
}

.buttonsWrap {
    display: flex;
    gap: $sp-2;
    justify-content: flex-end;
    align-items: center;
}
