@import "../../../../../../lib/styles/includes";
@import "../../../../../../lib/styles/variables";

.badge {
  display: flex;
  align-items: center;

  .badge-image {
    width: 48px;
    height: 48px;
    margin-right: $space-xl;
  }

  .badge-image-disabled {
    width: 48px;
    height: 48px;
    margin-right: $space-xl;
    opacity: 0.5;
    filter: grayscale(1);
  }

  .badge-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $black-100;
  }
}