@import '@libs/ui/styles/includes';

.card {
    :global(.badge) {
        opacity: 0.5;
    }
}

.cta {
    color: $blue-140;
}

.content {
    display: flex;
    align-items: center;
    gap: $space-sm;

    @include ltelg {
        flex-direction: column;
        align-items: flex-start;
        gap: $space-xs;
        margin-top: $space-sm;
    }

    :global(.quote-small) {
        font-style: italic;
        color: $black-60;
    }
}

.tag {
    padding: 2px $space-xs 0;
    background: $blue-140;
    border-radius: $border;

    color: $tc-white;
    text-transform: uppercase;
    display: flex;
}
