@import '../../../../lib/styles/includes';

.coursesListHeaderWrap {
    display: flex;
    flex-direction: column;

    .teaseBanner {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: $space-xxxxl;
        margin: $space-xxl 0 $space-mx;
        background-image: url("./assets/courses-banner-bg.png");
        background-size: cover;
        border-radius: 8px;

        @include ltemd {
            padding: 88px $space-lg $space-lg;
            margin: 0 0 $space-xxl;
            background-image: url("./assets/courses-banner-bg-mobile.png");
        }

        >h2 {
            color: $tc-white;
            margin-bottom: $space-lg;
            font-family: $font-barlow;

            @include ltemd {
                font-size: 24px;
            }
        }

        >p {
            color: $tc-white;
            max-width: $md-max;
        }
    }

    .coursesListHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $space-lg;

        @include ltemd {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: $space-xxl;

            h2 {
                margin: $space-md 0 $space-xxl;
            }
        }

        h2 {
            display: flex;
            align-items: center;

            .badge {
                font-family: $font-roboto;
                background: $blue-100;

                padding: 0 $space-sm;
                margin-left: $space-sm;
                border-radius: 50px;
                color: $tc-white;
            }
        }
    }
}

.coursesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-xl;
    padding: $space-xxl 0 $space-mx;

    &:last-child {
        border-bottom: none;
    }

    @include ltemd {
        grid-template-columns: 1fr;
        padding: $space-lg 0 $space-xxl;
    }
}