@import '../../../../lib/styles/includes';

.coursesListHeaderWrap {
    display: flex;
    flex-direction: column;

    .teaseBanner {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: $space-xxxxl;
        margin: $space-xxl 0;
        background-image: url("./assets/courses-banner-bg.png");
        background-size: cover;
        border-radius: 8px;

        @include ltemd {
            padding: 88px $space-lg $space-lg;
            margin: $space-lg 0;
            background-image: url("./assets/courses-banner-bg-mobile.png");
        }

        > h2 {
            color: $tc-white;
            margin-bottom: $space-lg;
            font-family: $font-barlow;
            
            @include ltemd {
                font-size: 24px;
            }
        }

        > p {
            color: $tc-white;
            max-width: $md-max;
        }
    }

    .coursesListHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $space-xxl;
        border-bottom: 2px solid $black-10;
        margin-bottom: $space-xxl;

        @include ltemd {
            flex-direction: column;
            align-items: flex-start;

            h2 {
                margin: $space-md 0 $space-xxl;
            }
        }

        .coursesListFilters {
            display: flex;
            margin-left: auto;
        
            gap: $space-xxl;
        
            > * {
                min-width: 326px;
            }
        
            > :global(.input-wrapper) {
                width: 100%;
        
                > :global(.input-el) {
                    margin: 0;
                }
            }
        
            @include ltelg {
                flex-direction: column;
                align-items: flex-start;
                gap: $space-lg;
            }
        
            @include ltemd {
                width: 100%;
            }
        }
    }
}

.coursesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-xl;
    padding: $space-xxl 0 $space-mxx;
    border-bottom: 2px solid $black-10;
    margin-bottom: $space-xxl;

    &:last-child {
        border-bottom: none;
    }

    @include ltemd {
        grid-template-columns: 1fr;
        padding: $space-lg 0 $space-mx;
        margin-bottom: $space-lg;
    }
}
