@import '../../../../lib/styles';

.profile-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include ltesm {
        a {
            display: none;

            &:last-of-type {
                display: inline;
            }
        }
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px white solid;
        background-color: white;
    }
}