@import '../../../../../../lib/styles/includes';

.bug-delivery-radio {
    border: 1px solid $black-100;
    border-radius: 4px;
    padding: $pad-lg 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &.selected {
        background-color: $turq-160;
        border: 1px solid $turq-160;
        .name {
            color: $tc-white;
        }
    }
    .name {
        @include font-roboto;
        font-size: 20px;
        font-weight: 700;
        margin-top: $pad-sm;
    }    
}
