@import '@libs/ui/styles/includes';

.wrap {
    display: flex;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    @include ltemd {
        border: 1px dashed $blue-25;
        border-radius: 8px;
    }
    > svg {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        display: block;
        z-index: -1;
        transform: translateY(-50%);

        @include ltemd {
            :global(.rect-border) {
                display: none;
            }
        }
    }
}

.details {
    width: 55%;
    padding: calc($sp-10 + $sp-4);
    display: flex;
    flex-direction: column;
    flex: 1;

    &Inner {
        max-width: 385px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: $blue-25;
    }

    h3 {
        font-size: 48px;
        line-height: 50px;
        font-weight: 500;
        color: $tc-white;
        margin-top: $sp-2;

        :global(.nw) {
            white-space: nowrap;
        }
    }
}

.logos {
    margin-top: auto;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    height: 52px;

    svg {
        width: auto;

    }
    &.whiteLogo svg > path {
        fill: $tc-white;
    }
}

.divider {
    width: $border;
    background: $black-10;
    margin: 0 $sp-4;
    flex: 0 0 auto;
}

.rightSide {
    width: 45%;

}
