// This file should contain global styles for the microapp

@import "include";
@import "reset";
@import "variables";
@import "mixins";
@import "utils";

.topcoder-platform-ui {
  @include font-barlow;
  color: #555;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;
}

:global {
  #root {
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;

    .root-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1;
    }
  }

  html,
  body {
    text-rendering: geometricPrecision;
  }

  body {
    @include roboto-regular;
    font-size: $font-size-base;
    color: $body-color;
    line-height: 1;
  }

  html {
    display: flex;
  }

  body {
    flex: 1;
  }

}

body {
  background-color: $tc-white;
}
