@import "../../styles/include";

.onboard-progress {
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  align-items: center;

  @include mobile {
    position: relative;
    right: auto;
    top: auto;
  }
}

.level-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: $black;

  @include mobile {
    flex: 1;
    align-items: flex-start;
  }

  .level {
    margin-bottom: 8px;

    .level-num {
      font-weight: bold;
    }

    .muted {
      color: #ddd;
    }
  }

  .label {
    @include mobile {
      @include font-barlow;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.progress-donut-chart {}

.progress-popup-toggle {
  cursor: pointer;

  * {
    fill: $green1;
  }
}