@import "../../../styles/mixins";
@import "../../../styles/variables";

.container {
  flex: 1 0 auto;
}

.title {
  margin: 0 0 36px;
  padding: 0 30px;
  @include barlow-condensed-medium;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
  color: #26b3c5;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 74px;

  @include desktop {
    flex-direction: row;
  }
}

.condition {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include desktop {
    margin-right: 70px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.condition-icon-placeholder {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;

  @include desktop {
    width: auto;
  }
}

.condition-data {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.condition-label {
  @include roboto-regular;
  font-size: 16px;
  line-height: 20px;
}

.condition-value {
  margin-top: 4px;
  @include roboto-bold;
  font-size: 16px;
  line-height: 20px;
}

.locationIcon {
  display: inline-block;
  margin-right: 8px;
  width: auto;
  height: 22px;
}

.paymentIcon {
  margin-right: 7px;
  width: 21px;
  height: 21px;

  text {
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-weight: 600;
  }
}

.durationIcon {
  margin-right: 9px;
  width: auto;
  height: 20px;
}

.hoursIcon {
  margin-right: 8px;
  width: auto;
  height: 22px;
}

.timezoneIcon {
  margin-right: 6px;
  width: auto;
  height: 18px;
}

.contents {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.text {
  @include desktop {
    flex: 1 1 auto;
  }
}

.section-label {
  @include barlow-condensed-medium;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
}

.section-contents {
  margin-top: 10px;
  margin-bottom: 35px;
  line-height: 30px;
  p {
    color: $tc-black;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 0px;
    strong {
      font-weight: 600;
      line-height: 20px;
      text-align: left;
    }
    h3 {
      font-weight: 400px;
      font-size: 40px;
      line-height: 50px;
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    ul {
      list-style-type: disc;
      line-height: 25px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      color: #151516;
    }
    ol {
      list-style-type: decimal;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      padding-left: 20px;
      margin-bottom: 20px;
      color: #151516;
    }
  }
}

.skills {
  display: block;
}

.skills-error {
  color: #f00;
}

.skillsIcon {
  display: inline-block;
  vertical-align: -4px;
  margin-right: 8px;
  width: auto;
  height: 21px;
}

.description {
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 42px;

  > * {
    flex: 1 1 auto;
    margin-top: 10px;
    width: 100%;
  }

  @include tablet {
    margin-top: 52px;

    > * {
      flex: 0 0 auto;
      margin-left: 20px;
      margin-top: 10px;
      width: auto;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.widgets {
  margin-top: 47px;

  @include desktop {
    flex: 0 0 auto;
    margin-left: 82px;
    margin-top: 29px;
    width: 408px;
  }
}
