@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    background-color: $black-5;

    .profileHeaderWrap {
        background: url('../../lib/assets/profile-header-bg.png') no-repeat right center / auto, linear-gradient(#0d83c5, #0e89d5);

        .profileHeaderContent {
            padding: 0;
            max-height: 200px;
            overflow: visible;

            @include ltelg {
                max-height: 100%;
            }
        }

        .profileHeaderContentOuter {
            margin-top: 75px;
        }

        .profileHeaderBottom {
            height: 90px;
            background-color: $tc-white
        }
    }

    .profileOuter {
        margin-top: 130px;

        .profileInfoWrap {
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-gap: $sp-15;
            margin-bottom: $sp-13;

            @include ltelg {
                grid-template-columns: 1fr;
                gap: 0;
            }

            .profileInfoLeft {
                display: flex;
                flex-direction: column;

                .skillsWrap {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }
            }

            .profileInfoRight {
                display: flex;
                flex-direction: column;
                margin-top: -215px;

                @include ltelg {
                    margin-top: 0;
                }

                .shortBio {
                    margin-bottom: $sp-8;

                    :global(.body-large-medium),
                    :global(.body-large) {
                        text-align: left;
                        margin-bottom: $sp-2;
                    }

                    :global(.body-large) {
                        font-style: italic;
                    }
                }
            }
        }

        .expirenceWrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;

            @include ltelg {
                grid-template-columns: 1fr;
                gap: 0;
            }
        }
    }
}

.sectionWrap {
    background-color: $tc-white;
    padding: $sp-8 $sp-8 0;
    margin-bottom: $sp-8;
    border-radius: 16px;
}
