@import "../../../../styles/mixins";
@import "../../../../styles/variables";

$gradients: (
  linear-gradient(125.57deg, #2c95d7 0%, #83c5ee 100%),
  linear-gradient(309.43deg, #f4f4f4 0%, #d4d4d4 100%),
  linear-gradient(359.14deg, #555555 0%, #2a2a2a 100%),
  linear-gradient(305.22deg, #9d41c9 0%, #ef476f 100%)
);

$text-colors: (#fff, $body-color, #fff, #fff);

.container {
  display: block;
  border-radius: 10px;
  padding: 15px 20px 12px;

  @for $i from 1 through length($gradients) {
    $text-color: nth($text-colors, $i);
    &.gig-hot-#{$i} {
      background-image: nth($gradients, $i);
      color: $text-color;

      .locationMark {
        circle,
        path {
          stroke: $text-color;
        }
      }
    }
  }
}

.location {
  display: flex;
  align-items: center;
}

.locationMark {
  margin-right: 5px;
  margin-bottom: 2px;
  width: 15px;
  height: auto;
}

.location-text {
  @include roboto-regular;
  font-size: 14px;
  line-height: 30px;
}

.name {
  @include barlow-semibold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.payment {
  @include roboto-regular;
  font-size: 16px;
  line-height: 30px;
}
