@import '../../../../lib/styles/includes';

.wrap {
    padding: $space-xxxxl;
    background: linear-gradient(84.45deg, $blue-160 2.12%, $blue-110 97.43%);
    border-radius: 8px;
    color: $tc-white;


    @include ltemd {
        border-radius: 0;
        margin-left: -$space-xxl;
        margin-right: -$space-xxl;
    }

    @include ltesm {
        margin-left: -$space-lg;
        margin-right: -$space-lg;
    }

    @include ltelg {
        padding: $space-xxxxl $space-lg $space-lg;
    }
}

.headline {
    display: flex;
    align-items: baseline;

    @include ltelg {
        flex-direction: column;
    }

    .headlineDetails {
        margin-left: auto;

        display: flex;
        align-items: baseline;
        gap: $space-lg;

        @include ltelg {
            margin-left: 0;
            margin-top: $space-xxl;
        }
    }
}

.headlineDetailsItem {
    display: flex;
    align-items: baseline;
    gap: $space-xs;

    .icon {
        height: 38px;
        padding: 8px 0 0px;
    }

    svg {
        display: block;
        @include icon-xxxxl;
        color: $turq-75;
    }

    > span, .headlineDetailsSpan {
        @include font-barlow;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        color: $black-20;
        text-transform: uppercase;
    }

    strong {
        @include font-barlow-condensed;
        font-weight: 500;
        font-size: 44px;
        line-height: 44px;

        text-transform: uppercase;

        :global(span.units) {
            @extend .headlineDetailsSpan;
            align-self: flex-end;
            padding-bottom: 1px;
        }
    }
}

.container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px dashed rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: $space-xxxxl;

    margin-top: $space-xxl;
    @include ltelg {
        padding: $space-lg;
    }
}

.courses {
    display: flex;
    flex-direction: column;
    gap: $space-lg;

    margin-bottom: $space-mx;
}
