.page-header {
    background: url('./profile-settings-background.svg');
    padding: 48px 180px;

    h1 {
        padding: 0;
    }
}

.avatar-container {
    margin: -108px 32px;
}

.page-container {
    margin-top: 120px;

    .page-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }
}
