@use '../../../../../lib/styles/typography';
@import '../../../../../lib/styles/includes';

.wrap {
    background: $tc-white;
    padding: $space-xxl;
    border-radius: $space-sm;
    @include ltelg {
        padding: $space-lg;
    }
}

.line {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-bottom: $space-lg;
}

.completed-status {
    @extend .body-main-bold;
    color: $blue-140;
    white-space: nowrap;

    &:before {
        content: "";
        display: inline-block;
        margin: 2px $space-sm -2px;
        width: 1px;
        height: 16px;
        background: $black-60;
        @include ltemd {
            content: none;
        }
    }
}

.buttons-wrap {
    display: flex;
    align-items: center;
    gap: $space-sm;
    flex-wrap: wrap;

    @include ltemd {
        gap: $space-lg;
    }
}
