@import '@libs/ui/styles/includes';

.wrap {
    margin-bottom: calc($sp-4 + $sp-6);
    padding: $sp-4 $sp-6 $sp-6;
    border-radius: $sp-2;
    @extend .bg-black-5;
    color: $black-100;

    h3 {
        margin-bottom: $sp-4;
        color: $black-100;
    }
}

.line {
    + .line {
        margin-top: $sp-4;
    }
}
