@import '@libs/ui/styles/includes';

.text-section.text-section {
    margin-top: 80px;

    @include ltelg {
        margin-top: $sp-8;
    }

    > h2 {
        margin-bottom: $sp-6;
    }

    > ul {
        list-style: disc;
        padding-left: $sp-6;
        padding-left: $sp-6;
    }

    &.no-top {
        margin-top: 0;
    }
}

.certifCompleted {
    display: flex;
    align-items: center;
    margin-bottom: $sp-10;
    gap: $sp-4;
    
    @include ltemd {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $sp-8;
    }
}
