@import '@libs/ui/styles/includes';
@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.title {
    display: flex;
    align-items: center;
    gap: $sp-2;

    .icon {
        @include icon-xxl;
        display: block;
    }
}
