@import '../../../lib/styles/includes';

.hero-wrap {
    :global(.hero-card-col) {
        width: 43.5%;
        max-width: 600px;

        @include ltemd {
            width: 100%;
            max-width: none;
        }
    }
}

.courses-section {
    padding: $space-xxxxl 0;
    position: relative;

    @include ltemd {
        padding-top: $space-xxl;
    }
}

.courses-list {
    margin-top: $space-lg;

    flex-wrap: wrap;
    gap: $space-lg;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    // NOTE: these are not app defined breakpoints
    // but they are required for the grid to look at it's best
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include ltelg {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @include ltemd {
        margin-top: $space-xxl;
    }
}

.courses-list-header {
    display: flex;
    align-items: center;

    > h3 {
        display: flex;
        align-items: center;
        gap: $space-sm;
    }

    @include ltemd {
        flex-direction: column;
        align-items: flex-start;
        gap: $space-xxl;
    }
}

.badge {
    font-family: $font-roboto;
    background: $blue-100;

    padding: 0 $space-sm;
    border-radius: 50px;
    color: $tc-white;
}

.courses-list-filters {
    display: flex;
    margin-left: auto;

    gap: $space-xxl;

    > * {
        min-width: 326px;
    }

    > :global(.input-wrapper) {
        width: 100%;

        > :global(.input-el) {
            margin: 0;
        }
    }

    @include ltelg {
        flex-direction: column;
        align-items: flex-start;
        gap: $space-lg;
    }

    @include ltemd {
        width: 100%;
    }
}
