@import '../../../../lib/styles/includes';

.hero-wrap {
    :global(.hero-content) {
        flex-direction: column;
        gap: $space-xxxxl;
        position: relative;

        @media (min-width: 1151px) {
            padding-right: calc(445px + $space-xxl);
        }

        @include gtelg {
            padding-right: calc(40vw + $space-xxl);
        }
    }
}

.contentWrap {
    .outerContentWrap {
        padding-top: $space-mxx;
        padding-bottom: 120px;

        @include ltexl {
            padding-top: $space-xxxxl;
            padding-bottom: $space-xxxxl;
        }

        @include gtelg {
            padding-right: calc(40vw + $space-xxl * 2);
        }

        @media (min-width: 1151px) {
            padding-right: calc(445px + $space-xxxl * 2);
        }
    }

    .innerContentWrap.innerContentWrap.innerContentWrap {
        @include ltemd {
            overflow: visible;
        }
    }
}