@import "@libs/ui/styles/includes";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $sp-4;
    column-gap: $sp-8;

    .contentItem {
        display: flex;
        align-items: flex-end;
    }
}
