$tc-dev-track-color: #048467;
$tc-design-track-color: #065D6E;
$tc-qa-track-color: #363D8C;
$tc-datascience-track-color: #723390;
$tc-dev-grad: linear-gradient(84.92deg, #048467 2.08%, #064871 97.43%);
$tc-design-grad: linear-gradient(84.92deg, #065D6E 2.08%, #06596E 2.09%, #3E3B91 97.43%);
$tc-qa-grad: linear-gradient(84.92deg, #363D8C 2.08%, #723390 97.43%);
$tc-datascience-grad: linear-gradient(84.92deg, #723390 2.08%, #8C384F 97.43%);
$tc-interview-grad: linear-gradient(84.92deg, #048467 2.08%, #064871 33.85%, #6831A8 66.15%, #8C384D 97.43%);
$tc-security-grad: linear-gradient(84.92deg, #048467 2.08%, #064871 97.43%);

@mixin grad-text-color($grad) {
    background: $grad;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
