@import '@libs/ui/styles/includes';

.wrap {
    display: flex;
    flex-direction: column;
    background-color: $black-5;
    padding: $sp-8 $sp-6;
    border-radius: 8px;
    overflow: auto;

    @include ltesm {
        padding: $sp-6 $sp-4;
    }

    .cardHeader {
        display: flex;
        align-items: center;

        > svg {
            flex: 0 0 auto;
        }

        @include ltemd {
            align-items: flex-start;

            > svg {
                max-width: 60px;
                max-height: 56px;
            }
        }

        .cardHeadline {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            margin-left: $sp-6;

            @include ltesm {
                margin-left: $sp-4;
            }

            .cardSubWrap {
                display: flex;
                align-items: center;
                gap: $sp-2;
                flex-wrap: wrap;

                .subTitleItem {
                    display: flex;
                    align-items: center;
                }

                svg {
                    margin-right: $sp-1;
                    color: $blue-140;
                }

                .durationWrap {
                    font-style: italic;
                    font-size: 14px;
                    line-height: 22px;
                    color: $black-60;

                    @include ltemd {
                        font-size: 12px;
                    }
                }
            }
        }

        .cardTitleline {
            display: flex;
            align-items: flex-start;
            > p {
                text-align: left;
            }

            .cardLabels {
                margin-left: auto;
            }
        }

        .cardLabels {
            display: flex;
            height: 32px;
            align-items: center;
            gap: $sp-2;

            .newLabel {
                font-weight: 500;
                font-size: 11px;
                line-height: 10px;
                border-radius: 2px;
                background-color: $green-140;
                padding: 3px $sp-1;
                color: $tc-white;
            }

            .freeLabel {
                @include freeLabel;

                padding: 3px $sp-1;
                font-weight: 500;
                font-size: 11px;
                line-height: 10px;

                @include ltesm {
                    font-size: 11px;
                    line-height: 10px;
                }
            }
        }
    }
}

.completed {
    background: $tc-white;
    border: 2px solid $turq-75;
}

.separatorBar {
    border-bottom: 2px solid $black-10;
    margin: $sp-5 0 $sp-6;
}

.progressBar {
    margin: $sp-4 0 $sp-6;
}

.providers {
    >span {
        font-style: italic;
        color: $black-60;
        font-weight: normal;
    }
}

.cardBottom {
    margin-top: $sp-4;

    .completedCTAs {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include ltesm {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .certCTAButtons {
        a:first-child {
            margin-right: $sp-2;
        }
    }
}

.infoText {
    font-style: italic;
    color: $black-60;
    margin-right: $sp-2;

    @include ltemd {
        margin-right: 50px;
    }

    &:last-child {
        margin-right: 0;
    }
}
