@import '@libs/ui/styles/includes';

.wrap {
    container-type: inline-size;
}

.inner {
    max-height: 85vh;
    overflow: auto;
    padding-right: $sp-4;
    margin-right: -$sp-4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $sp-6;

    @container (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @container (max-width: 368px) {
        grid-template-columns: 1fr;
    }
}
