@import '@libs/ui/styles/includes';

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $sp-6;
    max-height: 85vh;
    overflow: auto;
    padding-right: $sp-4;
    margin-right: -$sp-4;

    > * {
        width: calc(33% - 14px);
    }
}
