@import '@libs/ui/styles/includes';
@import "@earn/styles/variables";
@import "@earn/styles/mixins";

$prize-space-10: $base-unit * 2;

.prizes-tooltip {
  max-width: 480px;
  padding: 7px;
  overflow: hidden;

  .placements {
    display: flex;
    gap: $sp-6;
  }

  .checkpoint-message {
    margin-top: 14px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: $white;
  }
}
