@import '@libs/ui/styles/includes';

.wrap {
    width: 100%;
}

.headerWrap {
    display: flex;
    align-items: flex-start;
}

.workflowInfo {
    display: flex;
    align-items: flex-start;
    gap: $sp-4;
}

.workflowIcon {
    width: 60px;
    height: 60px;
    border-radius: $sp-1;
    border: 1px solid #A8A8A8;
    padding: $sp-1;

    align-items: center;
    display: flex;
    justify-content: center;

    flex: 0 0 auto;
}

.workflowName {
    display: flex;
    flex-direction: column;
    gap: $sp-2;

    h3 {
        font-family: "Figtree", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        color: #0A0A0A;
    }

    span {
        color: $link-blue-dark;
        font-family: "Nunito Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }
}

.workflowRunStats {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: $sp-1;

    flex: 0 0 auto;

    > span {
        display: flex;
        align-items: center;
        gap: $sp-2;

        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: var(--GrayFontColor);
    }

    strong {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        color: var(--FontColor);
    }
}

.workflowDescription {
    margin-top: $sp-6;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
}

.workflowFileLink {
    margin-top: $sp-4;
    a {
        display: flex;
        align-items: center;
        gap: $sp-1;
        color: $link-blue-dark;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 20px;

        svg {
            width: 12px;
            height: 12px;
            path {
                fill: $link-blue-dark;
            }
        }
    }

}
