@import '@libs/ui/styles/includes';

.container {
    margin: $sp-8 0;

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;

        @include ltelg {
            grid-template-columns: 1fr;
        }

        >p {
            max-width: 380px;
        }
    }
}

.changeEmailLink {
    font-size: 12px !important;
    line-height: 14px !important;
    min-height: 0 !important;
    padding: 0 !important;
}
