@import '@libs/ui/styles/includes';

.container {
    background-color: $black-5;
    padding: $sp-6;
    margin: $sp-8 0;
    border-radius: 6px;

    @include ltelg {
        padding: $sp-4;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;

        @include ltelg {
            flex-direction: column;
        }
    }

    .content {
        background-color: $tc-white;
        border-radius: 4px;
        margin-top: $sp-4;
        padding: $sp-4 0;
        display: flex;
        flex-direction: column;
        gap: $sp-6;
        background-color: $black-5;

        .centered {
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }
}

.taxes {
    display: block;
    line-height: 20px;
    font-size: 14px;

    + .taxes {
        margin-top: 10px;
    }

    &.mt {
        margin-top: 20px;
    }
}

.processing {
    border-radius: $sp-2;
    background: $black-5;
    border-left: 4px solid $purple-100;
    padding: $sp-4;
}

.breakdown {
    margin-top: $sp-8;
}

.breakdownList {
    margin-top: $sp-4;
    display: flex;
    flex-direction: column;
    gap: $sp-2;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $black-100;


        @include ltelg {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $sp-4;

    @include ltelg {
        flex-direction: column;
        align-items: flex-start;
    }
}

.alert {
    margin-top: $sp-6;
    background: $orange-25;
    border-radius: $sp-2;
    padding: $sp-3;
    color: $gold-3;
}

.taxesFooterRow {
    margin-top: $sp-6;

}
