@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  padding: 0 35px 42px;
}

.referralBanner {
  margin: 24px 0 0;
}

.page-title {
  margin: 20px 0 22px;
  @include barlow-condensed-medium;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
}

.gigs-list-header {
  margin: 10px 0;
}

.gigs-list {
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #fff;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  min-height: 320px;
  font-size: 24px;
  text-align: center;
  color: #aaa;

  &.error {
    color: #f00;
  }
}
