@import "@libs/ui/styles/includes";

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-8;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $sp-10;

        .viewAllLink {
            text-transform: uppercase;
            color: $turq-160;
            font-weight: $font-weight-bold;
            font-size: 14px;
        }
    }

    .badges {
        display: flex;
        column-gap: $sp-4;
        row-gap: $sp-4;
        flex-wrap: wrap;

        @include ltelg {
            flex-direction: column;
        }

        .badgeCard {
            background-color: $tc-white;
            padding: $sp-4;
            display: flex;
            cursor: pointer;
            min-width: 280px;
            border-radius: 8px;
            align-items: center;
            transition: 0.25s ease-in-out;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);

            &:hover {
                box-shadow: 0 0 16px rgba(22, 103, 154, 0.5);
            }

            .badgeImage {
                width: 48px;
                height: 48px;
            }

            .badgeTitle {
                font-size: 14px;
                font-weight: $font-weight-bold;
                line-height: 16px;
                margin-left: $sp-2;
                max-width: 130px;
            }
        }
    }
}