@import "@libs/ui/styles/includes";

.container {
    background-color: $black-5;
    padding: $sp-8;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: $sp-13;

    @include ltelg {
        padding: $sp-4;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $sp-10;

        .viewAllLink {
            text-transform: uppercase;
            color: $turq-160;
            font-weight: $font-weight-bold;
        }
    }

    .badges {
        display: flex;
        column-gap: $sp-4;
        row-gap: $sp-4;
        flex-wrap: wrap;

        @include ltelg {
            flex-direction: column;
        }

        .badgeCard {
            background-color: $tc-white;
            padding: $sp-4;
            display: flex;
            cursor: pointer;
            min-width: 316px;
            border-radius: 8px;
            align-items: center;

            .badgeImage {
                width: 48px;
                height: 48px;
            }

            .badgeTitle {
                font-size: 14px;
                font-weight: $font-weight-bold;
                line-height: 16px;
                margin-left: $sp-2;
                max-width: 130px;
            }
        }
    }
}
