@import "@libs/ui/styles/includes";


.containerWrap {
    background-color: $black-5;
    border-radius: 15px;
    padding: $sp-6;
    flex: 1;

    @include ltelg {
        padding: $sp-4;
    }

    >p {
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        margin-bottom: $sp-8;
        background-image: linear-gradient(90deg, #7B21A7, #1974AD);
        color: $tc-white;
        padding: $sp-8;

        @include ltelg {
            padding: $sp-4;
        }

        :global(.body-large-bold) {
            text-align: center;
        }

        .wins {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;

            .winWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .winCnt {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 34px;
                    margin-top: $sp-8;
                }
            }
        }
    }
}