@import "@libs/ui/styles/includes";

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
