@import '../../../lib/styles/includes';

.container {

  margin-top: $space-xl;

  .iconWrapper {
      height: 48;
      width: 48;
      margin: 0 $space-lg $space-lg $space-lg;
      background: $tc-grad12;
      border-radius: 24px;
      
      svg {
        @include icon-xl;
        margin: $space-md;
        color: $tc-white;
      }
    }

  .inline {
    display: flex;
    flex-direction: row;
    width:100%;

    @include ltemd {
      width: 100%;
    }
  }

  @include ltemd {
    display: flex;
    flex-direction: row;
  }
}

.serviceTitle {
  text-align: center;
  text-transform: uppercase;
}

.priceAndDuration {
  color: $tc-black;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  line-height: 48px;

  @include ltemd {
    justify-content: space-between;
  }

  .stickerPrice {
    color: $black-80;
    text-decoration: line-through;
    margin-right: $space-xs;
  }

  .separator {
    height: 26px;
    width: $border;
    color: $black-10;
    margin: 0px 16px;
  }

  .days {
    display: inline;
  }

  .help {
    margin-left: $space-sm;
    color: $turq-160;
  }
}