@import "@libs/ui/styles/includes";

.wrap {
    padding: $sp-6;
    border-radius: $sp-4;

    background: $tc-white;

    font-family: $font-barlow;
    color: $black-100;
}

.topWrap {
    display: flex;
    gap: $sp-6;
}

.profilePic {
    width: 188px;
    max-width: 188px;
}

.detailsContainer {
    flex: 1 1 auto;

    padding: $sp-5 0 $sp-45;
    display: flex;
    gap: $sp-4;
}

.talentInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $sp-3;
    margin-bottom: $sp-45;
    flex: 1 1 auto;

    &Name {
        font-size: 30px;
        line-height: 32px;
        color: $black-100;
    }

    &Handle {
        color: $black-60;
    }

    &Location {
        color: $black-100;

        display: flex;
        align-items: center;
        gap: $sp-2;
    }

}

.profileMatch {
    width: 83px;
    flex: 0 0 auto;
}

.skillsContainer {
    margin-top: $sp-5;
    border-top: 1px solid $black-10;
    padding-top: $sp-5;
    display: flex;
    flex-direction: column;
    gap: $sp-2;
    position: relative;

    &Title {
        position: absolute;
        top: 0;
        left: 50%;
        background: $tc-white;
        transform: translate(-50%, -50%);
        padding: $sp-2 $sp-4;
        color: $black-60;
    }

    &:global(.overline) {
        text-transform: uppercase;
    }
}

.unmatchedSkills {
    display: flex;

    color: $black-100;
    padding: 0 $sp-2;
    font-size: 14px;
}

.skillsWrap {
    display: flex;
    align-items: center;
    gap: $sp-1;
    flex-wrap: wrap;
}
