@import "@libs/ui/styles/includes";

.wrap {
    padding: $sp-6;
    border-radius: $sp-4;

    background: $tc-white;

    font-family: $font-barlow;
    color: $black-100;

    @include ltelg {
        width: 100%;
    }

    @include ltemd {
        padding: $sp-3;
    }
}

.topWrap {
    display: flex;
    gap: $sp-6;
    @include ltemd {
        gap: $sp-3;
    }
}

.profilePic {
    width: 188px;
    max-width: 188px;

    @media (max-width: 1140px) {
        width: 120px;
        max-width: 120px;
    }

    @include ltemd {
        width: 94px;
        max-width: 94px;
    }
}

.detailsContainer {
    flex: 1 1 auto;

    padding: $sp-5 0 $sp-45;
    display: flex;
    gap: $sp-4;

    @include ltemd {
        padding: 0;
        gap: $sp-3;
    }
}

.talentInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $sp-3;
    margin-bottom: $sp-45;
    flex: 1 1 auto;

    @include ltemd {
        gap: $sp-1;
        margin-bottom: $sp-2;
    }

    &Name {
        font-size: 30px;
        line-height: 32px;
        color: $black-100;

        @include ltemd {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
    }

    &Handle {
        color: $black-60;
        > span {
            display: block;
        }
    }

    &Location {
        color: $black-100;

        display: flex;
        align-items: center;
        gap: $sp-2;

        @include ltemd {
            margin-right: -58px;
        }
    }

}

.profileMatch {
    width: 83px;
    flex: 0 0 auto;

    @include ltemd {
        width: 46px;
    }
}

.skillsContainer {
    margin-top: $sp-5;
    border-top: 1px solid $black-10;
    padding-top: $sp-5;
    display: flex;
    flex-direction: column;
    gap: $sp-2;
    position: relative;

    &Title {
        position: absolute;
        top: 0;
        left: 50%;
        background: $tc-white;
        transform: translate(-50%, -50%);
        padding: $sp-2 $sp-4;
        color: $black-60;
        white-space: nowrap;
    }

    &:global(.overline) {
        text-transform: uppercase;
    }

    @include ltemd {
        padding-top: $sp-4;
        margin-top: $sp-4;
    }
}

.unmatchedSkills {
    display: flex;

    color: $black-100;
    padding: 7px $sp-3;
    font-size: 14px;
    line-height: 16px;

    border: 1px solid $black-20;
    border-radius: $sp-6;

    order: 999;
}

.skillsWrap {
    display: flex;
    align-items: center;
    gap: $sp-1;
    flex-wrap: wrap;
    position: relative;

    &:global(.init) {
        max-height: 116px;
        overflow: hidden;

        .unmatchedSkills {
            order: -1;
        }
    }
}
