@import '@libs/ui/styles/includes';

.wrap {
    background: $black-5;
    padding: $sp-8;
    padding-right: 92px;
    border-radius: $sp-2;

    color: $black-100;
    @include ltelg {
        padding: $sp-6 $sp-4;
    }

    &.clear {
        background: $tc-white;
        padding: 0;
    }
}

.perksList {
    margin-top: $sp-8;
    @include ltelg {
        margin-top: $sp-6;
    }

    li {
        display: flex;
        align-items: flex-start;
        gap: $sp-4;

        margin-top: $sp-6;
        @include ltelg {
            gap: $sp-2;
        }
    }
}

.perkIcon {
    display: flex;
    width: $sp-12;
    height: $sp-12;
    flex: 0 0 auto;

    @include ltelg {
        width: $sp-8;
        height: $sp-8;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;

        path {
            stroke: url(#paint0_linear_1847_10558);
        }
    }

    li:nth-child(2) & {
        svg path {
            stroke: none;
            fill: url(#paint0_linear_1847_10558);
        }
    }
}

.perkContent {
    p {
        margin-top: $sp-2;
    }
}

.perkExtraLink {
    margin-top: $sp-2;

    > * {
        display: flex;
        align-items: center;
        gap: $sp-1;
        color: $turq-160;
        @include font-roboto;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
    }
    svg {
        @include icon-size(14);
    }
}