@import '@libs/ui/styles/includes';

.diceModal {

    p {
        margin-bottom: $sp-4;

        &.buttonContainer {
            display: flex;
            justify-content: center;
        }
    }
}
