@import '@libs/ui/styles/includes';

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 8px;
}

.skillPill {
    background-color: #d6d6d6;
    color: #333;
    padding: 4px 8px;
    border-radius: 10px;
    white-space: break-spaces;
    font-size: 11px;
}

.status {
    color: orange;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    text-transform: capitalize;
}

.activeStatus {
    color: green;
}

.type {
    white-space: nowrap;
}
