@import '../../lib/styles';

.work-item-outer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.work-item-inner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.work-item-status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 1012px;
}

// part of status bar
.work-item-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: static;
}

// part of status bar
.work-item-created-date-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.work-item-created-date-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: $tc-black80;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

// part of status bar
.work-item-menu-more {
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.work-item-status-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 8px;
    text-transform: uppercase;
    color: $tc-white;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.work-item-status-draft {
    @include work-item-status
    background: $tc-black80;
    margin: 0px 1012px;
}

.work-item-status-text-draft {
    @extend work-item-status-text
}

// title bar
.work-item-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.work-item-detail-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: $tc-black;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.work-item-detail-type-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    border: 1px solid $black60;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.work-item-detail-type-text {
    top: calc(50% - 14px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: $black-60;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 6px;
}

.work-item-metadata-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.work-item-metadata-work-id {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $black-100;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.work-item-metadata-participants {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $black-100;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.work-item-metadata-unread-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}

.work-item-metadata-unread-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $black-100;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.work-item-metadata-unread-icon-frame {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.work-item-metadata-unread-icon-ellipse {
    background: #E90C5A;
}

.work-item-metadata-unread-icon-text {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 116px;
    top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $tc-white;
}

// <div class="work-item-outer-content">
//  <div class="work-item-inner-content">
//    <div class="work-item-status-bar">
//      {isDraft &
//        <div class="work-item-status-draft">DRAFT</div>
//      }
//    </div>
//    <div class="not yet made, creation date"/>
//  </div>
// </div>