@use '@libs/ui/styles/typography';
@import '@libs/ui/styles/includes';
@import '@libs/ui/styles/inputs';

.payment-form {
    padding: $space-xxl;

    @include ltemd {
        padding: $space-lg;
    }

    > h3 {
        margin-bottom: $space-xxl;
        font-family: $font-barlow;
    }

    .cardElement {
        @include formInputText;

        input,
        select {
            @include formInputText;
        }
    }

    .cardDate {
        margin-right: $space-sm;
    }

    .input-wrap-wrapper {
        display: flex;
        margin-bottom: $space-sm;
        > div {
            flex: 1;
        }
    }

    .checkbox-label {
        @extend .body-main;
        white-space: pre-wrap;
        font-weight: 400;
        .link {
            @extend .body-main-link;
            color: $link-blue-dark;
            margin-left: $space-xs;
            cursor: pointer;
        }
    }

    .pay-button {
        width: 100%;

        @include ltemd {
            margin-top: $space-lg;
        }
    }

    .error {
        background-color: $red-25;
        padding: $space-lg;
        border: 1px solid $red-120;
        border-radius: 4px;
        color: $red-120;
        margin-bottom: $space-xl;
        display: flex;
        align-items: flex-start;

        .errorIcon {
            width: 20px;
            min-width: 20px;
            margin-right: $space-sm;
        }

        .errorMsg {
            display: flex;
            flex-direction: column;
        }
    }
}