@use '../../../../../lib/styles/typography';
@import '../../../../../lib/styles/includes';

.wrap {
    color: $tc-white;
}

.title-row {
    display: flex;
    align-items: flex-start;
    gap: calc($space-sm + $border);
    cursor: pointer;

    > span {
        @extend .body-small-bold;
        line-height: 24px;
    }

    .title {
        @include ltemd {
            line-height: 18px;
            align-self: center;
        }
    }

    :global(.status-checkbox) {
        margin-top: 0;
        width: $space-xxl;
        height: $space-xxl;

        &:global(.completed) {
            color: $turq-75;
        }
    }
}

.title-tag {
    display: inline-block;
    color: $blue-140;
    background: $tc-white;
    padding: calc($border + $border-xs) $space-xs;
    border-radius: $border;
    text-transform: uppercase;
    line-height: 10px;
    margin-top: $space-xs;
    margin-right: calc($space-sm + $border);
    @include ltemd {
        margin-right: $space-xs;
    }
}

.chevron {
    margin-left: auto;
    width: $space-xxl;
    flex: 0 0 auto;
    svg {
        @include icon-xxl;
    }


    .wrap:global(.collapsed) & svg {
        transform: rotate(180deg);
    }
}

.content {
    margin-left: 34px;
    padding-right: $space-xxxxl;

    @include ltemd {
        padding-right: $space-xxl;
    }
}


.short-desc {
    margin-top: $space-sm;

    > pre {
        display: inline;
    }
}

.summary {
    display: flex;
    color: $tc-white;
    margin-top: $border-xs;

    > * + * {
        &:before {
            content: "";
            display: block;
            width: 1px;
            height: 14px;
            background: $tc-white;
            margin: 0 calc($space-sm + $border);
        }
    }

    &-item {
        @extend .body-small;
        display: flex;
        align-items: center;

        svg {
            width: 14px;
            height: 14px;
            margin-right: calc($space-xs + $border);
        }
    }

    @include ltemd {
        margin-top: $space-md;
    }
}

.list {
    display: flex;
    gap: calc($space-xs + $border) $space-sm;
    flex-wrap: wrap;

    margin-top: $space-sm;

    > li:global(.full-width) {
        width: 100%;
    }
}
