@import '../../../lib/styles';

.profile-form-fields {
    display: grid;
    grid-template-columns: .5fr;
    justify-content: flex-end;

    @include ltemd {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}
