@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.hero {
    &-wrap {
        background: url('./learn-welcome-bg-curve.png') repeat-x center bottom , $tc-grad15;
        background-size: 1440px 40px, auto;
        overflow: hidden;
        padding-bottom: 40px;
        @include ltelg {
            background-size: 100vw $space-lg, auto;
            padding-bottom: $space-lg;
        }
        &:global(.light) {
            background: url('./learn-welcome-bg-curve-white.png') repeat-x center bottom , $tc-grad15;
            background-size: 1440px 40px, auto;
            @include ltelg {
                background-size: 100vw $space-lg, auto;
            }
        }
        &:global(.grey) {
            background: $black-10 url('./learn-welcome-bg-curve-white.png') repeat-x center bottom ;
            background-size: 1440px 40px, auto;
            @include ltelg {
                background-size: 100vw $space-lg, auto;
            }
        }
    }

    &-inner {
        padding: calc($space-xxxxl + $space-sm) 0 $space-lg;
        @include contentWidth;

        @include ltelg {
            padding-bottom: $space-mx;
        }
        @include ltemd {
            padding-top: $space-xxl;
            padding-bottom: $space-xxl;
        }
    }

    &-content {
        display: flex;
        gap: calc($space-mx * 2);

        color: $tc-white;

        .hero-wrap:global(.grey) & {
            color: $black-100;
        }

        @include ltelg {
            gap: $space-mx;
        }
        @include ltemd {
            gap: $space-xxl;
            flex-direction: column;
        }
    }

    &-card-col {
        flex: 0 0 auto;
    }

    &-text {
        @extend .body-medium-normal;
        margin-top: $space-sm;
    }
}
