@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.hero {
    &-wrap {
        background: url('./learn-welcome-bg-curve.png') repeat-x center bottom, url('./learn-welcome-banner-img.png') no-repeat center, $tc-grad15;
        overflow: hidden;
        padding-bottom: 100px;

        @include ltelg {
            background-size: 100vw $space-lg, auto;
            padding-bottom: $space-mx;
        }

        &:global(.light) {
            background: url('./learn-welcome-bg-curve-white.png') repeat-x center bottom / 100vw, url('./learn-welcome-banner-img.png') no-repeat center, $tc-grad15;

            @include ltelg {
                background: url('./learn-welcome-bg-curve-white.png') repeat-x center bottom / 100vw, url('./learn-welcome-banner-img-mobile.png') no-repeat top, $tc-grad15;
            }
        }
    }

    &-inner {
        padding: calc($space-mx * 2) 0 $space-lg;
        @include contentWidth;

        @include ltelg {
            padding-bottom: $space-mx;
        }

        @include ltemd {
            padding-top: calc($space-mx * 4);
            padding-bottom: $space-xxl;
        }
    }

    &-content {
        display: flex;
        gap: calc($space-mx * 2);

        color: $tc-white;

        h1 {
            font-size: 80px;
            line-height: 72px;
            margin-bottom: $space-xxxxl;

            @include ltemd {
                font-size: 42px;
                line-height: 40px;
            }
        }

        @include ltelg {
            gap: $space-mx;
        }

        @include ltemd {
            gap: $space-xxl;
            flex-direction: column;
        }
    }

    &-card-col {
        flex: 0 0 auto;
    }

    &-text {
        @extend .body-large;
        margin-top: $space-sm;
        max-width: 910px;
    }
}