@import '@libs/ui/styles/includes';

.rolesSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $sp-4;
    background-image: linear-gradient(to right, #652385, #8C384C);
    color: $tc-white;
    border-radius: 8px;
    margin: $sp-4 0;

    @include ltesm {
        margin-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

.rolesWrap {
    display: flex;
    align-items: center;
}

.link {
    font-size: 14px;
    line-height: 14px;
    font-weight: $font-weight-medium;
    font-family: $font-roboto;

    @include ltesm {
        margin-top: $sp-2;
    }
}
