@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 27px;
  opacity: 0;

  &.visible {
    height: auto;
    opacity: 1;
  }
}

.btn-more,
.tag {
  margin-top: 4px;
  margin-right: 4px;
  border: 1px solid $body-color;
  border-radius: 5px;
  padding: 4px 6px 2px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.tooltip-tag-list {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.tooltipTag {
  flex: 0 0 auto;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 5px;
  padding: 4px 5px 4px 6px;
  @include roboto-regular;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 15px;
  color: #fff;
  background-color: #555;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}
