@import '../../../../../../lib/styles/includes';

.title {
    @include font-black-100;
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;

    @include ltemd {
        font-size: 27px;
        line-height: 28px;
    }
}
