@import "mixins/typography";
@import "mixins/media";
@import "GUIKit/Includes";

/* @media */
$screem-md: 1376px;
$screen-sm: 768px;
$screen-max: 1376px;

/* track color */
$track-code-green: #35ac35;
$track-code-green-light: #d8fdd8;
$track-code-blue: #2984bd;
$track-code-blue-light: #bae1f9;
$track-code-turquose: #0ab88a;
$track-code-turquose-light: #c1f5e7;

$tco-black: #2a2a2a;

/* member rating colors */
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red: #ea1900;

// Replace the bourbon background with simple linear gradient - we only use this for the buttons;
@mixin background-gradient($start, $stop) {
  background: $start;
  background: linear-gradient(to top, $start 0%, $stop 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=0); /* IE6-9 */
}

// Placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin button-transition {
  transition: background 0.5s;
}
