@import "./mixins";
@import "./variables";

.modal {
  display: inline-flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px !important;
  padding: 100px 40px !important;
  width: auto !important;
  background-color: #fff !important;

  @include tablet {
    width: 600px !important;
  }
}

.modalOverlay {
  background-color: $body-color !important;
  opacity: 0.95 !important;
}

.content {
  margin: 40px 0 0;
  font-size: 16px;
  line-height: 26px;

  p {
    margin: 20px 0;

    &:first-child,
    &:last-child {
      margin-top: 0;
    }
    a {
      color: #0d61bf;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.title {
  @include barlow-condensed-medium;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
  color: #1e94a3;
}

.message {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
