@import "variables";
@import "mixins";
@import "reset";
@import "utils";

:global {
  :not(.challenge-listing-container) {
    @import "legacy-buttons";
  }

  html,
  body {
    text-rendering: geometricPrecision;
  }

  body {
    @include roboto-regular;
    font-size: $font-size-base;
    color: $body-color;
    line-height: 1;
  }

  html {
    display: flex;
  }

  body {
    flex: 1;
  }
}

:root{
  --mfe-screen-xs: #{$mfe-screen-xs};
}

#tooltips-container-id {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1001;
}
