@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.filter-bar {
    padding-top: 55px;
    display: flex;
    align-items: flex-end;
    gap: $sp-4;
    flex-wrap: wrap;

    .filterGroup {
        width: 360px;
        label {
            display: block;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: var(--FontColor);
            margin-bottom: $sp-2;
            line-height: 20px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
    }

    .clearButton {
        color: #767676;
        text-transform: capitalize;
        border-radius: 4px;
        border: 1px #A8A8A8 solid;
        box-shadow: none;
        font-weight: 700;
    }
}

.blockTable {
    margin-top: $sp-6;
    margin-bottom: $sp-10;
}

.pagination {
    align-self: flex-end;
    margin-top: -$sp-4;
    margin-bottom: $sp-10;
}
