@import "../../styles/variables";
@import "../../../../lib/styles/includes";

.title {
    @include font-barlow-condensed;
    @include font-weight-semibold;
    font-size: 34px;
    line-height: 32px;
    color: inherit;
    text-transform: uppercase;

    padding: 0 0 $space-lg;
}

.divider {
    width: 100%;
    margin: 0;
    border: 1px solid $black-10;
    border-radius: 2px;
}

.subtitle {
    @include font-roboto;
    @include font-weight-bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: $black-60;
    text-transform: uppercase;

    padding: $space-lg 0 0;
}

@include ltelg {
    .header {
        padding: $space-lg 0 0;
    }

    .title {
        font-size: 28px;
        line-height: 32px;
    }

    .subtitle {
        font-size: 10px;
        line-height: 12px;
    }
}
