@import '../../styles/variables';
@import '../../../../lib/styles/includes';

.main {
  display: flex;
  width: 100%;
  margin: $space-xxxxl 0;
}

.mainContent {
  width: calc(100% - $side-nav-width);
  padding: 0 $space-xxxxl 0 0;
  min-height: calc(100vh - 520px);

  &.disableToc {
    width: 100%;
    padding: 0;
  }
}

@include ltelg {
  .main {
    margin: $space-xxl 0;

    > .mainContent {
      width: 100%;
      padding: 0;
    }
    > nav {
      display: none;
    }
  }
}
