@import '@libs/ui/styles/includes';

.shortBio {
    margin-bottom: $sp-8;

    :global(.body-large-medium),
    :global(.body-large) {
        text-align: center;
    }

    .wizzardWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $sp-4;
        &.emptyDesc {
            margin-bottom: 0;
        }
    }
}

.bioWrap {
    p {
        margin-bottom: $sp-2;
    }
}

.bioCollapsed {
    @include text-clamp(5);
}

.bioToggle {
    appearance: none;
    background: transparent;
    border: 0;
    color: $link-blue-dark;
    cursor: pointer;
    font-family: $font-roboto;
    font-size: $sp-35;
    font-weight: $font-weight-bold;
    line-height: 24px;
    padding: 0;
    text-align: left;

    &:hover {
        color: darken($link-blue-dark, 5);
        text-decoration: underline;
    }
}

.empty {
    height: auto;
    margin-top: $sp-4;

    @include ltelg {
        padding: $sp-4 $sp-4 $sp-4 0;
    }
}

.titleWrap {
    margin-top: $sp-8;
}

.email {
    display: flex;
    align-items: center;
}

.emailText {
    margin-top: $sp-2;
}
