@import '@libs/ui/styles/includes';

.linkItemWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $sp-2;

    > svg {
        width: 24px;
        height: 24px;

        path:not([stroke-linecap]) {
            fill: $black-100;
        }

    }
}

.linkItem {
    border-radius: 4px;
    padding: $sp-2 $sp-4;
    border: 1px solid $black-40;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: $sp-4;

    button {
        padding-right: 0;

        &.button {
            margin-left: $sp-2;
            padding-left: $sp-2;
            padding-right: $sp-2;
        }

        svg {
            @include icon-xxl;
        }
    }
}

.linkLabelWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1;

    small {
        font-size: 11px;
        line-height: 11px;
        font-weight: $font-weight-medium;
        color: $turq-160;
        margin-bottom: $sp-1;
    }

    p {
        word-break: break-all;
    }
}

.btnsWrap {
    flex: 0 0 auto;
}
