@import '../../../lib/styles/includes';

.wrap {
    flex: 1 1 auto;
    position: relative;
    margin-top: $space-xxxxl;
    display: flex;
    flex-direction: column;
}

.hero-wrap {
    :global(.hero-card-col) {
        max-width: 475px;
    }

    @include ltelg {
        :global(.hero-card-col) {
            max-width: none;
        }
    }
}

.loading-spinner {
    background: none;
}
