@import '../../../lib/styles/includes';

.content-layout {
    background: $black-5;
}

.hero-wrap {
    :global(.hero-card-col) {
        max-width: 475px;
    }

    @include ltelg {
        :global(.hero-card-col) {
            max-width: none;
        }
    }
}

.title-line {
    display: flex;
    align-items: center;

    svg {
        @include icon-size(60);
        margin-right: $space-sm;
        @include ltemd {
            @include icon-size(38);
        }
    }
}

.courses-area {
    padding: $space-xxxxl 0;
    gap: $space-lg;
    display: flex;
    flex-direction: column;
    &:empty {
        display: none;
    }

    @include ltemd {
        gap: $space-xxl;
    }
}

.cards-wrap {
    display: flex;
    gap: $space-xxl;
    flex-wrap: wrap;

    > * {
        flex: 0 1 calc(50% - calc($space-xxl / 2));
    }

    @include ltemd {
        > * {
            flex: 1 1 0;
        }
    }
}