@use '@libs/ui/styles/typography';
@import '@libs/ui/styles/includes';

.header {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin: $sp-6 0 $sp-7 0;

    .header-content {
        flex: 1;
        flex-direction: row;
        display: flex;
        .title {
            @include font-black-100;
            @include font-barlow;
        }
    
        .link {
            color: $link-blue-dark;
            cursor: pointer;
            margin-left: $sp-3;
            margin-top: $sp-1;
            text-transform: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .icon-wrapper {
        &.open {
            transform: rotate(180deg);
        }
        svg {
            path {
                fill: $turq-160;
            }
        }
    }
}

.detail {
    margin-bottom: $sp-6;
    white-space: pre-wrap;
    @include font-black-100;

    .title {
        @include font-barlow;
        display: flex;
        padding-bottom: $sp-2;
    }

    .content {
        @extend .body-main;

        .no-info {
            @include font-black-60;
        }
    }
}