@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.pageContentWrap {
    display: flex;
    flex-direction: row;
    gap: $sp-10;

    > .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 256px;
    }

    @include ltelg {
        flex-direction: column;
        gap: $sp-6;

        > .sidebar {
            flex-basis: auto;
            width: 100%;
        }
    }
}

.contentWrap {
    width: 100%;
}

.summary {
    margin-bottom: $sp-6;
}

.lockedNotice {
    padding: $sp-6;
    background-color: #f9fafa;
    border: 1px solid #D1DAE4;
    border-radius: 4px;
    margin: $sp-6 0;

    strong {
        display: block;
        margin-bottom: $sp-2;
        font-weight: bold;
    }

    span {
        display: block;
        color: #666;
    }
}

