@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: $sp-6;

    @include ltelg {
        padding-bottom: $sp-6;
    }

    .titleWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $sp-4;
    }

    .skillsWrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: $sp-1;
        row-gap: $sp-2;
        margin-top: $sp-2;

        .skillItem {
            background-color: $teal-140;
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .5px;
            color: $tc-white;
            white-space: nowrap;
            padding: $sp-1 $sp-2;
            border-radius: 4px;
            display: flex;
            align-items: center;

            svg {
                margin-right: $sp-1;
            }
        }
    }

    .legendWrap {
        display: flex;
        margin-top: $sp-2;
    }
}