@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;

    .headerWrap {
        display: flex;
        align-items: center;

        h3 {
            font-family: $font-barlow;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            text-transform: none;
        }
    }

    .titleWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $sp-6;

        .skillActions {
            display: flex;
            align-items: center;

            @include ltemd {
                flex-direction: column;
                align-items: flex-end;
            }

            > button:nth-child(2) {
                margin-left: $sp-4;

                @include ltemd {
                    margin-left: 0;
                }
            }
        }
    }

    .skillsWrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: $sp-1;
        row-gap: $sp-2;
    }
}
