@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  display: block;
  position: relative;
  padding: 14px 23px 17px 46px;

  &:nth-child(odd) {
    background-color: #fbfbfb;
  }

  &:nth-child(even) {
    background-color: #fff;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 14px 46px 17px;
  }
}

.flagIcon {
  position: absolute;
  top: 0;
  left: 11px;
  width: 25px;
  height: auto;
}

.name-skills {
  @include tablet {
    flex: 1 0 100%;
  }

  @include desktop {
    flex: 1 0 400px;
    padding-right: 24px;
  }
}

.name {
  @include roboto-bold;
  font-size: 16px;
  line-height: 26px;
}

.location {
  display: flex;
  align-items: center;
  @include roboto-regular;
  font-size: 14px;
  line-height: 22px;
  color: #555555;

  &::before {
    content: "";
    display: block;
    margin-right: 5px;
    width: 14px;
    height: 16px;
    // there was no SVG for this icon
    background-image: url("../../../../assets/icons/icon-mark.png");
    background-size: 14px 16px;
    background-repeat: no-repeat;
  }

  &.global {
    &::before {
      width: 16px;
      // there was no SVG for this icon
      background-image: url("../../../../assets/icons/icon-globe.png");
      background-size: 16px 16px;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}

.skill {
  background: transparent;
}

.payment,
.duration {
  display: flex;
  flex-direction: column;
}

.payment {
  flex: 1 0 194px;
  padding-top: 12px;

  @include tablet {
    padding-right: 24px;
  }

  @include desktop {
    padding-top: 0;
  }
}

.duration {
  flex: 0 0 139px;
  padding-top: 9px;

  @include tablet {
    padding-top: 14px;
  }

  @include desktop {
    padding-top: 2px;
  }
}

.payment-range,
.duration-weeks {
  @include barlow-semibold;
  font-size: 24px;
  line-height: 26px;
  white-space: nowrap;
}

.payment-label,
.duration-label {
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  color: #7f7f7f;

  @include phone-only {
    display: none;
  }
}

.payment-label {
  margin-top: 2px;
  text-transform: capitalize;
}

.duration-label {
  margin-top: 4px;
}
