@import '../../../../lib/styles/includes';

.wrap {
    @include icon-mxx;
    border-radius: 50%;

    color: $tc-white;
    border: $border solid $tc-white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: $space-sm;

    cursor: pointer;

    svg {
        @include icon-xxl;
    }
}
