@use '../../../lib/styles/typography';
@import '../../../lib/styles/includes';

.wrap {
    margin: 0 -32px;
}

.main-wrap {
    height: calc($content-height - $breadcrumb-height);
    width: 100%;
    margin-bottom: -$space-lg;
    background: $tc-white;

    display: flex;

    position: relative;

    @include ltemd {
        flex-direction: column;
        gap: $space-lg;
        height: auto;
    }
}

.course-frame {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-left: $space-xxxxl;
    overflow: auto;

    @include ltemd {
        padding-left: 0;
    }
}

.content-wrap {
    padding: $space-mx 0 $space-xxxxl;
    position: relative;
    flex: 1;
    @include contentWidth;
    max-width: 1000px;
    margin: 0 auto;
    
    p {
        margin-top: $space-xxl;
    }

    :global(.body-large) {
        margin-bottom: $space-xxl;
    }

    @include ltemd {
        padding-top: 0;
    }
}

.btns-wrap {
    display: flex;
    align-items: center;
    gap: $space-lg $space-sm;
    margin-top: $space-xxl;
    flex-wrap: wrap;
}

.course-title {
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 70px;
        left: 70px;
        transform: translate(-50%, -50%);
        background: $tc-white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: -1;

        box-shadow: 0px 0px 30px 40px rgba($gold-1, 0.2);
        animation: stars-fade-in-out 10s ease-in-out 0.3s infinite both;

        @include ltemd {
            left: 50%;
        }
    }
    
    & > svg {
        position: absolute;
        top: 70px;
        left: 70px;
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: stars-fade-in-out 10s ease-in-out 0s infinite both;
        pointer-events: none;
    
        @include ltemd {
            left: 50%;
        }
    }
}

@keyframes stars-fade-in-out {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}
