@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.blockContent {
    margin-top: 38px;
    border: 1px solid var(--Tertiary);
    border-radius: 8px;
    padding: 24px 24px 36px;
}

.textTitle {
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    letter-spacing: -0.02em;
    font-weight: $font-weight-bold;
}

.blockTabsContainer {
    margin-top: 24px;
    margin-bottom: 18px;
}

.blockReviewers {
    display: flex;
    gap: 40px;
    align-items: center;
}

.blockReviewer {
    display: flex;
    gap: 5px;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height, or 136% */
    letter-spacing: -0.02em;

    strong {
        font-weight: $font-weight-semibold;
    }
}
