@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.blockContent {
    margin-top: 64px;
    padding-bottom: 40px;
}

.textTitle {
    color: var(--FontColor);
    font-family: "Figtree", sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}

.blockTabsContainer {
    margin-top: $sp-6;
    margin-bottom: $sp-4;
}

.blockReviewers {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    @include ltemd {
        padding: 12px 8px;
        justify-content: space-between;
        gap: 6px;
    }
}

.blockReviewer {
    display: flex;
    gap: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    strong,
    a {
        white-space: nowrap;
    }
    strong {
        color: var(--FontColor);
    }
}

.summary {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
