@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.filter-bar {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $sp-4;

    .filterGroup {
        width: 360px;
        label {
            display: block;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: var(--FontColor);
            margin-bottom: $sp-2;
            line-height: 20px;
        }
    }

    .searchGroup {
        width: 100%;
        max-width: 360px;
    }

    .filterRow {
        display: flex;
        align-items: flex-end;
        gap: $sp-4;
        flex-wrap: wrap;
    }

    .actions {
        display: flex;
        align-items: center;
    }

    .clearButton {
        color: #767676;
        text-transform: capitalize;
        border-radius: 4px;
        border: 1px #A8A8A8 solid;
        box-shadow: none;
        font-weight: 700;
    }
}

.blockTable {
    margin-top: $sp-6;
    margin-bottom: $sp-10;
}

.pagination {
    align-self: flex-end;
    margin-top: -$sp-4;
    margin-bottom: $sp-10;
}

.searchInputWrapper :global(.label) {
    margin-bottom: 0;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
