.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fieldSelect {
    width: 100%;
    max-width: 345px;
    margin-top: 54px;
}

.blockTable {
    margin-top: 26px;
}
