@import '../../../../../lib/styles/includes';

.title-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $space-lg;

    svg {
        @include icon-mx;
        margin-right: $space-xs;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: $space-md;
}
