.questions {
  margin: 0 0 81px;
}

.question {
  margin: 34px 0 0;
  font-size: 16px;
  line-height: 30px;

  p {
    margin: 0;

    strong {
      line-height: 20px;
      text-align: left;
      font-weight: 600;
    }
  }
}

.options {
  margin: 10px 0 0;
}
