@import "@libs/ui/styles/includes";

.container {
    background-color: $black-5;
    padding: $sp-8;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: $sp-8;

    @include ltelg {
        padding: $sp-4;
    }

    h3 {
        margin-bottom: $sp-8;
    }

    .activitySection {
        margin-bottom: $sp-4;
    }

    .contentGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $sp-8;

        @include ltelg {
            grid-template-columns: 1fr;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $black-10;
        border-bottom: 1px solid $black-10;
        padding: $sp-3 0;

        .progress {
            display: flex;
            align-items: center;

            .progressValue {
                text-transform: uppercase;
                color: $teal-140;
                font-weight: $font-weight-bold;
            }

            .btn {
                border: 1px solid $black-10;
                padding: $sp-1 $sp-4;
                margin-left: $sp-2;
            }
        }
    }
}
