@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;

    .localInfo {
        display: flex;
        align-items: center;
        margin-bottom: $sp-2;

        > svg {
            margin-right: $sp-2;
            width: 24px;
            height: 24px;
        }

        > button {
            margin-left: auto;
        }
    }
}