@import '@libs/ui/styles/includes';

.bug-hunt-wrapper {
  padding: 0 32px 32px 32px;

  .bug-hunt-icon {
    background: $tc-grad18;
    margin-left: 0;
  }

  @include ltemd {
    padding: 0;
  }
}
