@import '@libs/ui/styles/includes';

.progress-container {
    margin-bottom: calc($space-lg + $space-xxl);
    padding: $space-lg $space-xxl $space-xxl;
    border-radius: $space-sm;
    @extend .bg-black-5;

    h3 {
        margin-bottom: $space-lg;
        color: $black-100;
    }

    .progress {
        display: flex;
        justify-content: space-between;
        margin-top: calc($space-lg + $space-xxl);
    }
}
