@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
}

.memberLinksModalBody {
    min-height: 300px;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: $sp-4;
    margin-top: $sp-4;
}

.formCTAs {
    margin-top: $sp-4;
    margin-bottom: $sp-4;
}
