@import '../../../../lib/styles';

.tool-selector-narrow {
    position: absolute;
    top: $header-height;
    left: 0;
    width: calc(100% - calc(2 * $pad-xxl));
    z-index: 100;
    height: $contentHeight;
    background-color: $black-100;
    padding: $pad-xxl;

    a:last-of-type {
        border-bottom: 1px solid $black-60;
    }

    .tool-selector-narrow-link {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $black-60;
        padding: $pad-lg 0;
        color: $tc-white;
        font-size: 16px;
        @include font-bold;
        background-color: $black-100;

        svg {
            width: $pad-lg;
            height: $pad-lg;
            fill: $tc-white;

            path {
                stroke-width: 1.13px;
                fill: none;
            }
        }

        &.tool-selector-narrow-active {
            color: $turq-100;
        }
    }
}
