@import '@libs/ui/styles/includes';

.workExpirenceCard {
    flex: 1;
    margin-bottom: $sp-8;
    font-size: 14px;
    line-height: 22px;
    color: $black-60;

    :global(.body-main-bold) {
        color: $black-100;
    }

    &.workExpirenceCardModalView {
        margin-bottom: 0;

        .workExpirenceCardHeader {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            :global(.body-main-bold) {
                margin-bottom: $sp-2;
            }
        }
    }

    .workExpirenceCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .workExpirenceCardDescription {
        margin-top: $sp-4;
        color: $black-80;

        :global(.body-main-normal) {
            color: $black-80;
            line-height: 22px;
        }
    }

    .workExpirenceCardSkills {
        margin-top: $sp-4;
        display: flex;

        :global(.body-main-small-bold) {
            margin-bottom: $sp-2;
            color: $black-100;
        }

        .skillsList {
            display: flex;
            flex-wrap: wrap;
            gap: $sp-2;

            .skillTag {
                display: inline-block;
                padding: $sp-1 $sp-2;
                color: $turq-160;
                border-radius: 4px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}