@import '@libs/ui/styles/includes';

.workExpirenceCard {
    flex: 1;
    margin-bottom: $sp-8;
    font-size: 14px;
    line-height: 22px;
    color: $black-60;

    :global(.body-main-bold) {
        color: $black-100;
    }

    &.workExpirenceCardModalView {
        margin-bottom: 0;

        .workExpirenceCardHeader {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            :global(.body-main-bold) {
                margin-bottom: $sp-2;
            }
        }
    }

    .workExpirenceCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .workExpirenceCardDescription {
        margin-top: $sp-4;
        color: $black-100;
        font-size: 16px;
        line-height: 24px;
        font-family: $font-roboto;

        :global(.body-main-normal) {
            color: $black-80;
            line-height: 22px;

            // Style for HTML elements within rich text content
            p {
                margin: 0 0 $sp-2 0;
                line-height: 22px;
                color: $black-100;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            ul,
            ol {
                margin: $sp-2 0;
                padding-left: $sp-6;
            }

            li {
                margin-bottom: $sp-1;
                line-height: 22px;
            }

            strong {
                font-weight: $font-weight-bold;
                color: $black-100;
            }

            em {
                font-style: italic;
            }

            u {
                text-decoration: underline;
            }

            a {
                color: $blue-100;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .workExpirenceCardSkills {
        margin-top: $sp-4;
        display: flex;
        color: $black-100;
        font-size: 16px;
        line-height: 24px;
        font-family: $font-roboto;

        :global(.body-main-small-bold) {
            margin-bottom: $sp-2;
            color: $black-100;
        }

        .skillsList {
            margin-left: 4px;
        }
    }
}