@import '@libs/ui/styles/includes';

.workExpirenceCard {
    flex: 1;

    .workExpirenceCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
