@import "@earn/styles/mixins";
@import "@earn/styles/variables";

@keyframes placeholderAnim {
  0% {
    background-position: -$base-unit * 94 0;
  }

  100% {
    background-position: $base-unit * 94 0;
  }
}

.animated-placeholder-template {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderAnim;
  animation-timing-function: linear;
  background: $tc-gray-neutral-dark;
  background: linear-gradient(to right, $tc-gray-neutral-dark 8%, $tc-gray-10 18%, $tc-gray-neutral-dark 33%);
  background-size: $base-unit * 256 $base-unit * 20;
  position: relative;
}

.placeholder-template {
  border-radius: $corner-radius;

  @extend .animated-placeholder-template;
}

.challenge-loading {
  height: 126px;
  padding: 16px;
  margin: 0 24px;
  display: flex;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;

  > div {
    margin-right: 16px;
  }

  &:nth-child(even) {
    background: #FBFBFB;
  }
  .track {
    flex: 1 0 46px;
    width: 46px;
    height: 44px;
  }

  .main {
    flex: 1 1 70%;
  }

  .title {
    height: 22px;
    width: 100px;
    margin-bottom: 8px;
  }

  .info {
    height: 18px;
    width: 200px;
    margin-bottom: 16px;
  }

  .footer {
    height: 18px;
    width: 70%;
  }

  .prize {
    height: 18px;
    width: 60px;
    margin-bottom: 8px;
    margin-right: 40px;
  }

  .prize-nominal {
    height: 42px;
    width: 40px;
  }

  @include down($mfe-screen-sm) {
    .title {
      width: 50%;
      max-width: 100px;
    }
    .info {
      width: 100%;
      max-width: 200px;
    }
  }

  @include down($mfe-screen-xs) {
    margin: 0;
  }
}
