@import '@libs/ui/styles/includes';

.status {
    text-transform: capitalize;
}

.actionWrapper {
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg {
        color: $teal-100;
    }
}

.noApplications {
    margin-top: $sp-6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}