@use '../../../../../lib/styles/typography';
@import '../../../../../lib/styles/includes';

.wrap {
    padding: $space-xxl;
    border-radius: $space-sm;
    background: $tc-white;

    display: flex;
    flex-direction: column;
    gap: $space-lg;

    @include ltelg {
        padding: $space-lg;
        gap: $space-sm;
    }

    @include ltemd {
        gap: $space-lg;
    }
}

.title {
    @extend .body-main-bold;
    color: $blue-140;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary {
    display: flex;
    gap: $space-lg;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include ltelg {
        gap: $space-sm;
    }

    @include ltemd {
        justify-content: center;
        gap: $space-lg;
    }
}
