@import '@libs/ui/styles/includes';

.formError {
    color: $red-100;
}

.formWrap {
    display: flex;
    flex-direction: column;
    margin-top: $sp-2;

    @include ltelg {
        :global(.input-wrapper) {
            margin-bottom: $sp-2;
        }
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
        margin-right: $sp-2;
        min-width: 150px;
        @include ltemd {
            min-width: 0;
        }
    }

    &>div:nth-child(2) {
        flex: 1;
    }
    &>button {
        margin-bottom: $sp-45;

        svg {
            @include icon-xxl;
        }

        &.button {
            margin-left: $sp-2;
            padding-left: $sp-2;
            padding-right: $sp-2;
        }
    }
}
