@import '../../../../../lib/styles/includes';

.step-wrap {
    display: flex;
    align-items: flex-start;
    color: $black-20;

    .icon {

        @include icon-xl;
        border-radius: 50%;
        flex: 0 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        color: $blue-140;

        background: $black-40;

        > svg {
            @include icon-full;
            margin: -1 * $border;
        }
    }

    .label {
        margin-left: $space-sm;
    }

    &:global(.completed) .icon {
        background: $turq-75;
    }
    &:global(.completed.has-icon) .icon {
        background: transparent;
        color: $turq-75;
    }

    &:global(.active) {
        color: $tc-white;
        .icon {
            border: 2px solid $tc-white;
            box-shadow: 0 0 2px 1px $tc-white;
        }
    }
}
