@import "@libs/ui/styles/includes";

.winWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $sp-2;
    cursor: pointer;
    min-width: 115px;

    .winCnt {
        font-family: $font-barlow-condensed;
        font-size: 32px;
        font-weight: 500;
        line-height: 34px;
        margin-top: $sp-4;
    }
}
