@import '@libs/ui/styles/includes';

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formError {
    color: $red-100;
}

.editForm {
    margin-top: $sp-4;
}