@import '@libs/ui/styles/includes';

.wrap {
    width: 100%;
    color: #0A0A0A;
}

.headerWrap {
    display: flex;
    align-items: flex-start;

    @include ltemd {
        flex-direction: column;
        align-items: stretch;
        gap: $sp-6;
    }
}

.workflowInfo {
    display: flex;
    align-items: flex-start;
    gap: $sp-4;
}

.mdContainer {
    & > * {
        all: revert-layer;
    }
}

.workflowIcon {
    width: 60px;
    height: 60px;
    border-radius: $sp-1;
    border: 1px solid #A8A8A8;
    padding: $sp-1;

    align-items: center;
    display: flex;
    justify-content: center;

    flex: 0 0 auto;
    @include ltemd {
        width: 56px;
        height: 56px;
    }
}

.workflowName {
    h3 {
        font-family: "Figtree", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        color: #0A0A0A;
        margin-bottom: $sp-2;
    }

    span {
        color: $link-blue-dark;
        font-family: "Nunito Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }

    .modelName {
        cursor: pointer;
    }

    @include ltemd {
        h3 {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.workflowRunStats {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: $sp-1;

    flex: 0 0 auto;

    > span {
        display: flex;
        align-items: center;
        gap: $sp-2;

        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: var(--GrayFontColor);
    }

    strong {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        color: var(--FontColor);
    }

    svg {
        &.sm {
            height: 16px;
        }
        &.md {
            height: 20px;
            stroke: #0a0a0a;
        }

        &.iconFile {
            path {
                fill: #0A0A0A;
            }
            height: 16px;
        }
    }

    @include ltemd {
        margin-left: 0;
    }
}

.workflowDescription {
    margin-top: $sp-6;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
}

.workflowFileLink {
    margin-top: $sp-4;
    a {
        display: flex;
        align-items: center;
        gap: $sp-1;
        color: $link-blue-dark;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 20px;

        svg {
            width: 12px;
            height: 12px;
            path {
                fill: $link-blue-dark;
            }
        }
    }

}
