@import '@libs/ui/styles/includes';

.wrap {
    width: 100%;
}

.tabs {
    justify-content: center;
    margin: $sp-6 0;
}

.tabScore {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: var(--FontColor);
    font-weight: normal;
    margin-left: 4px;
    @include ltemd {
        &.selected {
            color: var(--invertButtonColor);
        }
    }
}
