@import '@libs/ui/styles/includes';

.cardsWrap {
    container-type: inline-size;
}

.cardsInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $sp-6;

    @container (max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @container (max-width: 368px) {
        grid-template-columns: 1fr;
    }
}
