@import '@libs/ui/styles/includes';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-xxxxl 0 $space-xxl;
    margin: 0 0 $space-xxl;
    border-bottom: $border solid $black-10;

    .heading {
        margin-right: $space-xxxxl;
        color: $black-100;
    }
}
