@import '@libs/ui/styles/includes';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $sp-8 0 $sp-6;
    margin: 0 0 $sp-6;
    border-bottom: $border solid $black-10;

    .heading {
        margin-right: $sp-8;
        color: $black-100;
    }
}
