@import "@libs/ui/styles/includes";
@import "@libs/ui/styles/variables";

.self-reported{
    flex: 0 0 auto;
    font-family: $font-barlow; 
    font-weight: $font-weight-medium;
    background-color: rgb(34, 107, 116);
    color: #fff;
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 5px;
    padding: 4px 6px 4px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    position: inherit;
}

.challenge-win{
    flex: 0 0 auto;
    font-family: $font-barlow; 
    font-weight: $font-weight-medium;
    background-color: rgb(106, 52, 155);
    color: #fff;
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 5px;
    padding: 4px 6px 4px 26px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    position: inherit;
}


.before{
  position: absolute;
  top: 5px;
  left: 4px;
  padding:0px;
  margin:0px;
  width: 16px;
  height: 16px;
  border-radius:8px;
  border: 1px #fff solid;

}
