@import "@libs/ui/styles/variables/palette";
@import "@libs/ui/styles/includes";

.tabWrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 260px;

    .manualFormWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $sp-8;
        margin-top: $sp-6;

        @include ltemd {
            grid-template-columns: 1fr;
        }

        .manualForm {
            display: flex;
            flex-direction: column;
        }
    }
}