@import '../../lib/styles';

.logo-no-link,
.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 56px;
        @extend .pad-xxl;
        padding-left: 0;

        @include ltesm {
            padding: 0;
        }
    }  
}

.logo-no-link {
    height: 74.5px;
}
