@import '../../lib/styles';

.logo-no-link,
.logo-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        @extend .pad-xxl;
        padding-left: 0;
    }  
}
