@import '../../lib/styles';

.logo-no-link,
.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        width: 56px;
        height: 20px;
        @extend .pad-xxl;
        fill: none;

        path {
            fill: $tc-white;
        }

        @include ltemd {
            padding: 0;
        }
    }  
}

.logo-no-link {
    height: 74.5px;

    @include ltemd {
        height: 26.5px;
    }
}
