@import '@libs/ui/styles/includes';

.lineItem {
    align-items: baseline;
    color: $black-80;
    display: inline-flex;
    font-size: 14px;
    gap: 4px;
    white-space: nowrap;
}

.label {
    color: $black-60;
    font-weight: 500;
}

.value {
    font-weight: 700;
}
