@import '@libs/ui/styles/includes';

.infoModal {
    padding: 35px 32px 32px 32px !important;
    max-width: 600px !important;

    :global(.react-responsive-modal-closeButton) {
        display: flex;
        right: 32px;
        top: 46px !important;

        path {
            color: $turq-160;
        }
    }

    hr {
        margin-top: 30px;
    }

    h3 {
      font-family: $font-barlow;
      color: $black-100;
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      text-transform: none;
    }

    .modalContent {
        width: 100%;
    }
}

.blockDropZone {
    width: 256px;
    height: 256px;
    margin-right: 24px;
    border: 1px dashed $turq-160;
    border-radius: 4px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(224, 250, 243, 0.30);

    .textDragAndDrop {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .textBrowse {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        color: $turq-160;
        margin-top: 8px;
    }

    .blockProgressContainer {
        background-color: white;
        width: 100px;
        height: 4px;
        display: flex;
        margin-top: 8px;

        .blockProgress {
            width: 50%;
            height: 100%;
            background-color: $turq-100;
        }
    }
}

.blockPhoto {
    width: 256px;
    height: 256px;
    margin-right: 24px;
    flex-shrink: 0;
    border: 1px dashed $turq-160;
    background-color: rgba(224, 250, 243, 0.30);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.listRequirements {
    list-style: disc;
    padding-left: 24px;
}
