@import '../../styles/variables';
@import '../../styles/mixins';

.location-dropdown {
  z-index: 5;
}
.skills-dropdown {
  z-index: 4;
}
.container {
  padding: 0px 22px 20px;
}

.skillsSelect {
  margin-top: 32px;
}

.top-section {
  margin-top: 0px;
}

.section {
  margin-top: 24px;
}

.section-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 17px;
}

.payment-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-error {
  font-size: 12px;
  color: $tc-gray-90;
  margin-top: 2px;
  text-align: center;
}

.payment-range-separator {
  margin: 0 4px;
  color: #555;
}

.controls {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  margin-top: 20px;
}
