@import '@libs/ui/styles/includes';

.infoModal {
    :global(.react-responsive-modal-closeButton) {
        display: flex;
    }

    .modalContent {
        display: grid;
        grid-template-columns: 1fr 2fr;

        @include ltelg {
            grid-template-columns: 1fr;
        }

        .modalContentLeft,
        .modalContentRight {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h4 {
                margin-bottom: $sp-4;
            }
        }

        .modalContentLeft {
            padding-right: $sp-8;
            border-right: 2px solid $black-10;

            .infoSection {
                background-color: $orange-25;
                padding: $sp-4;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .infoItemsList {
                    list-style-type: disc;
                    margin-left: $sp-5;
                }
            }

            .checkboxWrap {
                display: flex;
                align-items: center;
                margin-top: $sp-6;
            }
        }

        .modalContentRight {
            padding-left: $sp-8;

            p {
                margin-bottom: $sp-4;
            }

            .warnText {
                color: $red-120;
                font-weight: $font-weight-bold;
            }

            button {
                margin-top: $sp-6;
            }
        }
    }
}