@import '@libs/ui/styles/includes';
@import "../../styles/mixins";
@import "../../styles/variables";

.content {
  display: block;
}

.title {
  @include barlow-condensed-medium;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
  color: #1e94a3;
}

.message {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
  gap: $sp-3;
}

.hint {
  margin: 10px 0 0;
  @include roboto-regular;
  font-size: 14px;
  line-height: 26px;

  a {
    font-size: 16px;
    line-height: 24px;
    color: #0d61bf;
    text-decoration: underline;
  }
}
