@import '@libs/ui/styles/includes';

.card {
    width: 100%;
    margin: $sp-6 0;
    padding: 16px;

    &.collapsible {
        border-radius: 4px;
    }

    &.notCollapsible {
        border-radius: 8px;
    }

    &.noMargin {
        margin: 0;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.collapsible {
            cursor: pointer;
        }

        span {
            @include font-black-100;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .arrowIcon {

            &.up {
                transform: rotate(180deg);
            }
        }
    }

    .spacing {
        padding-bottom: 17px;
    }

    .content {
        @include font-black-100;
        @include font-roboto;
    }
}

.info {
    background-color: $black-5;
}

.success {
    background-color: $turq-15;
}

.warn {
    background-color: $orange-25;
}
