@import '@libs/ui/styles/includes';

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1 1;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $sp-10;
    font-size: $sp-4;
    line-height: $sp-4;

    .separator {
      margin-left: $sp-4;
      margin-right: $sp-4;
    }
  }
}
