@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;

    .headerWrap {
        display: flex;
        align-items: center;
        margin-bottom: $sp-4;

        h3 {
            font-family: $font-roboto;
            font-weight: 700;
            text-transform: none;
            font-size: 20px;
            line-height: 26px;
            color: $black-60;
        }
    }

    .contentWrap {
        display: flex;
        flex-direction: column;
        padding-bottom: $sp-8;
    }
}
