@import '@libs/ui/styles/includes';

.container {
    background-color: #E0E4E84D;
    padding: 40px 32px;
    .section {
        .heading {
            padding: 12px 16px;
            background-color: #00797A;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .sectionInfo {
                display: flex;
                flex-direction: row;
                margin-top: 4px;
                font-size: 16px;
                font-family: "Nunito Sans", sans-serif;
                .name {
                    display: flex;
                    flex: 1;
                    font-weight: 700;
                }
            }
        }
        .questions {
            background-color: #FFFFFF;
            padding: 32px 20px;
            .question {
                background-color: #F6F7F9;
                padding: 20px 16px;
                display: flex;
                flex-direction: row;
                color: #0A0A0A;
                margin-bottom: 0px;
                &.notLast {
                    margin-bottom: 20px;
                }
                .left {
                    display: flex;
                    flex: 4;
                    flex-direction: column;
                    .description {
                        font-weight: 700;
                        font-size: 16px;
                    }
                    .detailItemsWrapper {
                        margin-top: 16px;
                        .detailItem {
                            display: flex;
                            flex-direction: row;
                            font-family: "Nunito Sans", sans-serif;
                            margin-bottom: 8px;
                            .label {
                                font-weight: 700;
                                font-size: 14px;
                                min-width: 142px;
                            }
                            .value {
                                font-weight: 400;
                                font-size: 14px;
                                white-space: pre-line;
                            }
                        }
                    }
                }
                .right {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media (max-width: #{$lg-max}) {
    .container {
        .section {
            .heading {
                .sectionInfo {
                    flex-direction: row;
                    .name {
                        margin-bottom: 0px;
                    }
                    .weight {
                        text-align: end;
                    }
                }
            }
            .questions { 
                .question {
                    flex-direction: row;
                    .left {
                        .detailItemsWrapper {
                            .detailItem {
                                flex-direction: column;
                                min-width: auto;
                                .value {
                                    white-space: pre-line;
                                }
                            }
                        }
                    }
                    .right {
                        justify-content: flex-end;
                        .weight {
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
}