@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;

    :global(.body-main-bold) {
        font-size: 20px;
        margin-bottom: $sp-2;
    }

    .skillPicker {
        margin-top: $sp-4;
    }
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skillsModal {
    @include gtemd {
        overflow: visible !important;
    }
}

.skillsModalBody {
    overflow: visible !important;
}