@import '@libs/ui/styles/includes';

.skillsModalHeader {
    :global(.body-main-normal) {
        margin-top: $sp-2;
    }
}

.container {
    display: flex;
    flex-direction: column;

    .skillPicker {
        margin-top: $sp-4;
    }

    :global(.input-wrapper) {
        margin-top: $sp-2;
    }
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skillsModal {
    @include gtemd {
        overflow: visible !important;
    }
}

.skillsModalBody {
    overflow: visible !important;
}
