@import '@libs/ui/styles/includes';

.skillsModalHeader {
    :global(.body-main-normal) {
        margin-top: $sp-2;
    }
}

.container {
    display: flex;
    flex-direction: column;

    :global(.input-wrapper) {
        margin-top: $sp-2;
    }
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skillsModal {
    @include gtemd {
        overflow: visible !important;
    }
}

.skillsModalBody {
    overflow: visible !important;
}

.principalIntroLink {
    display: flex;
    justify-content: flex-end;
    > span {
        color: $link-blue-dark;
        cursor: pointer;
        &:hover {
            color: darken($link-blue-dark, 5);
        }
    }
}
