@import '@libs/ui/styles/includes';

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.templateLink {
    color: $black-60;
    font-size: 13px;
    margin: 0;

    a {
        color: $link-blue-dark;

        &:hover,
        &:focus {
            color: $link-blue-dark;
        }
    }
}

.editor {
    position: relative;
}

.copySpecLink {
    color: $link-blue-dark;
    cursor: pointer;
    font-size: 14px;
    pointer-events: auto;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 0;
    z-index: 1;

    &:hover,
    &:focus {
        color: $link-blue-dark;
    }

    &:focus {
        outline: 2px solid $link-blue-dark;
        outline-offset: 3px;
    }
}
