@import '@libs/ui/styles/includes';

.wrap {
    background: $orange-25;
    padding: $sp-8;
    border-radius: $sp-4;

    font-family: $font-barlow;
    font-weight: $font-weight-medium;
    font-size: 30px;
    line-height: 36px;

    color: $black-100;

    margin-bottom: $sp-10;
    margin-top: $sp-6;

    strong {
        font-weight: 900;
    }

    small {
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #EF476F;
    }

    @include ltemd {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: $sp-6;
    }
}
