@import "@libs/ui/styles/includes";
@import "../../styles/variables";

.pane-outline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 0 0 auto;

    svg {
        @include icon-xxl;
        color: $turq-160;
    }

    @include gtelg {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    
    @include ltemd {
        width: 100%;
        height: auto;
        border-radius: 0 0 $space-lg $space-lg;
        margin-top: -1px;
    }
}

.accordion {
    margin-top: -2px;
    border-top: 2px solid $black-10;
    border-bottom: 2px solid $black-10;

    &:first-of-type:not(:first-child) {
        margin-top: $space-mxx;
    }
}
